{% extends "templates/base.html" %}

{%- macro sortable_column(label, new_sort) -%}
{%- set params = {} -%}
{%- if pagination -%}
{# get any filter params #}
{%- set params = pagination['params'] or {} -%}
{%- endif -%}

{%- set icon = '' -%}
{%- if sort == new_sort -%}
{# append sort direction suffix #}
{%- set new_sort = '%s-' % new_sort if sort_asc else new_sort -%}
{# select sort direction icon #}
{%- set icon = '&#x25B2;' if sort_asc else '&#x25BC;' -%}
{%- endif -%}

{# override sort param #}
{%- do params.update({'sort': new_sort}) -%}

<a href="{{ url_for(base_route, **params) }}">{{ label }}{{ icon | safe }}</a>
{%- endmacro -%}

{% block title %}{{ i18n('interface.resources.title') }}{% endblock %}
{% block container %}
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<div class="d-flex w-100 flex-column">
  <div class="d-flex w-100">
    {% block breadcrumb %}{% endblock %}
  </div>
  <div class="d-flex mb-4 w-100 justify-content-between wrapper-create">
    <h4>{{ self.title() }}</h4>
    <a id="createModal" data-bs-toggle="modal" data-bs-target="#createTab1Modal" class="btn btn-create" role="button">
      {{ utils.render_icon('plus-lg') }} {{ i18n('interface.common.new') }}
    </a>
  </div>
  <div class="d-flex w-100 justify-content-end wrapper-filter-search">
    <div class="btn-group mx-4 align-items-center btn-filter">
      <span class="svg-icon svg-icon-filter"></span>
      Bộ lọc
    </div>
    <div class="btn-group search-group">
      <div class="input-group">
        <input id="input-search" name="txt-search" type="text" class="form-control"
          placeholder="{{ i18n('interface.common.ph_search') }}" value="{{ search_text if search_text }}">
        <button class="btn btn-search">{{ utils.render_icon('search') }}</button>
      </div>
    </div>
  </div>
  <div class="d-flex w-100 wrapper-content flex-column">
    {% block table %}

    {% endblock %}
  </div>
</div>

<div class="modal fade" id="step1Modal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
  aria-labelledby="step1ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {% block titleStep1Modal %}
          {% endblock %}
        </h5>
      </div>
      <div class="modal-body my-2">
        <div class="d-flex">
          {% block bodyStep1Modal %}
          {% endblock %}
        </div>
        <div class="d-flex justify-content-center mt-4" style="gap: 10px;">
          <button type="button" class="btn btn-step1-next">{{ utils.render_icon('arrow-right') }} Chọn</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ utils.render_icon('x-circle') }}
            Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createTab1Modal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
  aria-labelledby="createModalTabl1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm mới dữ liệu</h5>
        <div>
          <button type="button" class="btn btn-save">{{ utils.render_icon('floppy2-fill') }} Lưu</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ utils.render_icon('x-circle') }}
            Hủy</button>
        </div>
      </div>
      <div class="modal-body my-2">
        {% block bodyCreateTab1Modal %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="createTab2Modal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
  aria-labelledby="createModalTabl2Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm mới dữ liệu</h5>
        <div>
          <button type="button" class="btn btn-save">{{ utils.render_icon('floppy2-fill') }} Lưu</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ utils.render_icon('x-circle') }}
            Hủy</button>
        </div>
      </div>
      <div class="modal-body my-2">
        {% block bodyCreateTab2Modal %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteTab1Modal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
  aria-labelledby="deleteTab1ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa dữ liệu</h5>
        <div>
          <button type="button" class="btn btn-delete">{{ utils.render_icon('floppy2-fill') }} Thực hiện</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ utils.render_icon('x-circle') }}
            Hủy</button>
        </div>
      </div>
      <div class="modal-body my-2">
        <p class="text-center">Bạn có chắc chắn muốn xóa dữ liệu này không?</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteTab2Modal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
  aria-labelledby="deleteTab2ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa dữ liệu</h5>
        <div>
          <button type="button" class="btn btn-delete">{{ utils.render_icon('trash') }} Thực hiện</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ utils.render_icon('x-circle') }}
            Hủy</button>
        </div>
      </div>
      <div class="modal-body my-2">
        <p class="text-center">Bạn có chắc chắn muốn xóa dữ liệu này không?</p>
      </div>
    </div>
  </div>
</div>
{% block addNewModal %}{% endblock %}
{% block renderScripts %}{% endblock %}
{% endblock %}