{% extends "templates/base_index_v2.html" %}
{% block title %}{{ i18n('interface.asset_parameters.title') }}{% endblock %}
{% block new_resource_label %}{{ i18n('interface.asset_parameters.new_asset_parameters') }}{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='libs/select2/select2.min.js') }}"></script>
<script type="text/javascript">
    $(function () {

    });
</script>
{% endblock %}

{%- block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='libs/select2/select2.min.css') }}" rel="stylesheet">
{%- endblock styles %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ utils.render_icon('house-door-fill') }}</li>
        <li class="breadcrumb-item active">Quản trị hệ thống</li>
        <li class="breadcrumb-item" aria-current="page">Tham số tài sản</li>
    </ol>
</nav>
{% endblock %}
{% block table %}
<ul class="nav nav-tabs w-100" id="assetParameterTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="param-tab" data-bs-toggle="tab" data-bs-target="#param"
            data-target-modal="#createTab1Modal" type="button" role="tab" aria-controls="param" aria-selected="true">Ds
            tham số</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="group-tab" data-bs-toggle="tab" data-bs-target="#group"
            data-target-modal="#createTab2Modal" type="button" role="tab" aria-controls="group" aria-selected="false">Ds
            nhóm tham số</button>
    </li>
</ul>
<div class="tab-content px-4 py-4">
    <div class="tab-pane fade show active" id="param" role="tabpanel" aria-labelledby="param-tab">
        <table id="tableDataParam" class="display responsive">
            <thead>
                <tr>
                    <th>STT</th>
                    <th class="d-none">Nhóm tham số</th>
                    <th style="min-width: 175px;">Tên trường dữ liệu</th>
                    <th style="min-width: 105px;">Kiểu dữ liệu nhập</th>
                    <th style="min-width: 100px;">Mô tả</th>
                    <th style="min-width: 100px;">Ngày tạo</th>
                    <th class="text-center" style="min-width: 100px;">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab">
        <table id="tableGroupParam" class="display responsive">
            <thead>
                <tr>
                    <th>STT</th>
                    <th class="d-none">Loại tài sản</th>
                    <th style="min-width: 175px;">Tên nhóm tham số</th>
                    <th style="min-width: 100px;">Thứ tự hiển thị</th>
                    <th style="min-width: 100px;">Ngày tạo</th>
                    <th class="text-center" style="min-width: 100px;">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block renderScripts %}
<script type="text/javascript">
    // Thay đổi modal hiển thị khi click tab
    document.addEventListener('DOMContentLoaded', function () {
        const createButton = document.getElementById('createModal');
        const tabs = document.querySelectorAll('.nav-tabs .nav-link');
        tabs.forEach(tab => {
            tab.addEventListener('click', function () {
                const targetModal = this.getAttribute('data-target-modal');
                createButton.setAttribute('data-bs-target', targetModal);
            });
        });

        createButton.addEventListener('click', function () {
            const targetModal = createButton.getAttribute('data-bs-target');
            const form = document.querySelector(`${targetModal} form`);
            if (form) {
                form.reset(); // Reset the form fields
                // Remove 'is-valid' class from all form elements
                const formValidElements = form.querySelectorAll('.is-valid');
                formValidElements.forEach(element => {
                    element.classList.remove('is-valid');
                });
                // Remove 'is-invalid' class from all form elements
                const formInvalidElements = form.querySelectorAll('.is-invalid');
                formInvalidElements.forEach(element => {
                    $('.invalid-feedback').remove();
                    element.classList.remove('is-invalid');
                });
            }
        });

        $('#createTab1Modal').on('shown.bs.modal', function () {
            // get danh mục
            let id = $('#createTab1Modal input[name="id"]').val();
            if (!id) {
                $('#createTab1Modal .modal-title').html('Thêm mới dữ liệu');
            }
            $("#select-nhom-tham-so").select2({
                minimumInputLength: 0, // Number of characters before AJAX request is made
                dropdownParent: $('#createTab1Modal'),
                ajax: {
                    url: 'api/asset-parameter/group/all', // API endpoint URL
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: data.result
                        };
                    },
                    cache: true
                }
            });
        });

        $('#createTab2Modal').on('shown.bs.modal', function () {
            let id = $('#createTab2Modal input[name="id"]').val();
            if (!id) {
                $('#createTab2Modal .modal-title').html('Thêm mới dữ liệu');
            }
        });

        // Khi table thay đổi
        const tabContent = document.querySelectorAll('.tab-content');
        // Hàm xử lý khi chiều rộng của tab-content thay đổi
        function handleTabContentResize(entries) {
            for (let entry of entries) {
                $('#tableDataParam').resize();
                $('#tableGroupParam').resize();
            }
        }
        // Tạo một ResizeObserver để theo dõi sự thay đổi kích thước
        const resizeObserver = new ResizeObserver(handleTabContentResize);
        // Bắt đầu theo dõi tab-content
        tabContent.forEach(tab => {
            resizeObserver.observe(tab);
        });
    });

    $(document).ready(function () {
        // Tab 1 Ds tham số           
        const fieldDataParams = [
            "stt",
            "ten_nhom_tham_so",
            "ten_truong",
            "kieu_du_lieu",
            "mo_ta",
            "ngay_tao",
            "tac_vu"
        ];

        let dataTableParam = new DataTable('#tableDataParam', {
            dom: 'rtlip',
            ordering: true,
            scrollY: 300,
            scrollX: true,
            scrollCollapse: true,
            processing: true,
            serverSide: true,
            searching: { regex: true },
            pageLength: 10,
            responsive: true,
            pagingType: "simple_numbers",
            language: PBMSLang,
            order: [],
            rowGroup: {
                dataSrc: ['ten_nhom_tham_so'],
            },
            ajax: {
                url: "api/asset-parameter/param/page",
                type: "POST",
                contentType: 'application/json',
                dataType: "json",
                headers: {
                    'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                },
                data: function (d) {
                    d.search.value = $('input[name=txt-search]').val();
                    return JSON.stringify(d);
                },
                dataSrc: function (json) {
                    json.recordsTotal = json.result.recordsTotal;
                    json.recordsFiltered = json.result.recordsFiltered;
                    return json.result.data;
                }
            },
            initComplete: function () {

            },
            columnDefs: [
                { "defaultContent": "", "targets": "_all" },
                { orderable: false, targets: getIdxFieldTable(fieldDataParams, ['stt', 'kieu_du_lieu', 'mo_ta', 'ngay_tao', 'tac_vu']) },
                { visible: false, "targets": getIdxFieldTable(fieldDataParams, ['ten_nhom_tham_so']) },
                {
                    data: '',
                    targets: getIdxFieldTable(fieldDataParams, ['stt']),
                    render: function (data, type, full, meta) {
                        return meta.settings._iDisplayStart + meta.row + 1;
                    },
                },
                {
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    type: 'string',
                    targets: getIdxFieldTable(fieldDataParams, ['ten_truong', 'mo_ta', 'mo_ta'])
                },
                {
                    render: function (data, type, full, meta) {
                        let value = data;
                        if (data === 'string') {
                            value = 'Kiểu chữ';
                        } else if (data === 'number') {
                            value = 'Kiểu số';
                        } else if (data === 'date') {
                            value = 'Kiểu ngày tháng';
                        } else if (data === 'file') {
                            value = 'Kiểu upload file';
                        }
                        return value;
                    },
                    type: 'string',
                    targets: getIdxFieldTable(fieldDataParams, ['kieu_du_lieu'])
                },
                {
                    data: '',
                    targets: getIdxFieldTable(fieldDataParams, ['tac_vu']),
                    render: function (data, type, full, meta) {
                        return `<div class="btn-action text-center">
                                    <a class="btn btn-icon-edit" role="button" title="Sửa" onclick="showUpdateTab1Modal('${full.id}')">
                                        <span class="svg-icon svg-icon-edit"></span>    
                                    </a>    
                                    <a class="btn btn-icon-delete" role="button" onclick="showDeleteTab1Modal('${full.id}')">
                                        <span class="svg-icon svg-icon-delete" title="Xóa"></span>
                                    </a>    
                                </div>`
                    },
                },
            ],
            columns: [
                { className: 'noVis', targets: [0] },
                { data: 'ten_nhom_tham_so' },
                { data: 'ten_truong' },
                { data: 'kieu_du_lieu' },
                { data: 'mo_ta' },
                { data: 'ngay_tao' },
                { className: 'noVis' },
            ]
        });

        // Validate dữ liệu tham số tài sản
        $.validator.addMethod("pattern", function (value, element, regexp) {
            const re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        });
        // Validate dữ liệu tham số tài sản
        $('#dataThamSoForm').validate({
            rules: {
                ma_truong: {
                    required: true,
                    minlength: 5,
                    maxlength: 50,
                    pattern: /^[a-zA-Z0-9_]+$/
                },
                ten_truong: {
                    required: true,
                    maxlength: 100
                },
                kieu_du_lieu: {
                    required: true,
                },
                thu_tu_hien_thi: {
                    required: true,
                    number: true,
                    min: 1
                },
                nhom_tham_so_id: {
                    required: true,
                },
            },
            messages: {
                ma_truong: {
                    required: "Vui lòng nhập mã trường dữ liệu.",
                    minlength: "Tên nhóm tham số có độ dài tối thiểu 5 kí tự.",
                    maxlength: "Tên nhóm tham số có độ dài tối đa 50 kí tự.",
                    pattern: "Mã trường dữ liệu phải viết liền không dấu, không chứa ký tự đặc biệt, và có thể chứa dấu gạch dưới."
                },
                ten_truong: {
                    required: "Vui lòng nhập tên trường dữ liệu.",
                    maxlength: "Tên nhóm tham số có độ dài tối đa 100 kí tự."
                },
                kieu_du_lieu: {
                    required: "Vui lòng nhập chọn kiểu dữ liệu.",
                },
                thu_tu_hien_thi: {
                    required: "Vui lòng nhập thứ tự hiển thị.",
                    number: "Vui lòng nhập một số hợp lệ.",
                    min: "Giá trị phải lớn hơn hoặc bằng 1."
                },
                nhom_tham_so_id: {
                    required: "Vui lòng nhập chọn nhóm tham số.",
                }
            },
            errorClass: "is-invalid",
            validClass: "is-valid",
            errorElement: "div",
            errorPlacement: function (error, element) {
                if (element.hasClass('select2-hidden-accessible')) {
                    // Insert the error message after the Select2 container
                    error.addClass("invalid-feedback");
                    error.insertAfter(element.next('.select2-container'));
                } else {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass(errorClass).removeClass(validClass);
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').addClass(errorClass);
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass(errorClass).addClass(validClass);
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').removeClass(errorClass);
                }
            }
        });

        // Cập nhật dữ liệu tham số tài sản
        $('#createTab1Modal .btn-save').on('click', function () {
            if ($('#dataThamSoForm').valid()) {
                // Collect form data
                const formDataArray = $('#dataThamSoForm').serializeArray();
                const formData = {};
                formDataArray.forEach(item => {
                    formData[item.name] = item.value;
                });
                // Make AJAX call
                let ajax_url = 'api/asset-parameter/param/create';
                let ajax_type = 'POST';
                let paramId = $('#dataThamSoForm input[name="id"]').val();
                // Tồn tại Id thì call api update
                if (paramId) {
                    ajax_url = `api/asset-parameter/param/update/${paramId}`;
                    ajax_type = 'PUT';
                }

                $.ajax({
                    url: ajax_url, // Replace with your API endpoint
                    type: ajax_type,
                    headers: {
                        'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                    },
                    contentType: 'application/json', // Set content type to JSON
                    data: JSON.stringify(formData), // Convert formData to JSON string
                    success: function (res) {
                        // Handle success
                        toastr.success(res.message);
                        // Optionally, close the modal or reset the form
                        $('#createTab1Modal').modal('hide');
                        // Reload datatable
                        dataTableParam.ajax.reload(null, false);
                    },
                    error: function (err) {
                        // Handle error
                        toastr.error(err.error);
                    }
                });
            }
        });

        // Update dữ liệu tham số
        window.showUpdateTab1Modal = function (id) {
            $.ajax({
                url: `api/asset-parameter/param/detail/${id}`, // Replace with your API endpoint
                type: 'GET',
                headers: {
                    'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                },
                success: function (res) {
                    $('#dataThamSoForm [name="id"]').val(res.result.id);
                    $('#dataThamSoForm [name="ma_truong"]').val(res.result.ma_truong);
                    $('#dataThamSoForm [name="ten_truong"]').val(res.result.ten_truong);
                    $('#dataThamSoForm [name="kieu_du_lieu"]').val(res.result.kieu_du_lieu);
                    $('#dataThamSoForm [name="mo_ta"]').val(res.result.mo_ta);
                    $('#dataThamSoForm [name="nhom_tham_so_id"]').val(res.result.nhom_tham_so_id);
                    $('#dataThamSoForm [name="thu_tu_hien_thi"]').val(res.result.thu_tu_hien_thi);
                    $('#select-nhom-tham-so').append(new Option(res.result.ten_nhom_tham_so, res.result.nhom_tham_so_id, true, true)).trigger('change');
                    // Trigger validation on each field to show feedback
                    $('#dataThamSoForm').validate().form();
                    // Show confirmation modal
                    $('#createTab1Modal').modal('show');
                    $('#createTab1Modal .modal-title').html('Cập nhật dữ liệu');
                },
                error: function (err) {
                    // Handle error
                    toastr.error(err.responseJSON?.error);
                }
            });
        }
        // Delete dữ liệu tham số
        window.showDeleteTab1Modal = function (id) {
            // Show confirmation modal
            $('#deleteTab1Modal').modal('show');
            // Set the delete button action
            $('#deleteTab1Modal .btn-delete').off('click').on('click', function () {
                // Make AJAX call to delete the item
                $.ajax({
                    url: `api/asset-parameter/param/delete/${id}`, // Replace with your API endpoint
                    type: 'DELETE',
                    headers: {
                        'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                    },
                    success: function (res) {
                        // Handle success
                        toastr.success(res.message);
                        // Close the modal
                        $('#deleteTab1Modal').modal('hide');
                        // Reload datatable
                        dataTableParam.ajax.reload(null, false);
                    },
                    error: function (err) {
                        // Handle error
                        toastr.error(err.responseJSON?.error);
                        // Close the modal
                        $('#deleteTab1Modal').modal('hide');
                    }
                });
            });
        }

        // Tab 2 Ds nhóm tham số
        const fieldGroupParams = [
            "stt",
            "loai_ts",
            "ten_nhom",
            "thu_tu_hien_thi",
            "ngay_tao",
            "tac_vu"
        ];

        let tableGroupParm = new DataTable('#tableGroupParam', {
            dom: 'rtlip',
            ordering: true,
            scrollY: 300,
            scrollX: true,
            scrollCollapse: true,
            processing: true,
            serverSide: true,
            searching: { regex: true },
            pageLength: 10,
            responsive: true,
            pagingType: "simple_numbers",
            language: PBMSLang,
            order: [],
            rowGroup: {
                dataSrc: ['loai_ts'],
            },
            ajax: {
                url: "api/asset-parameter/group/page",
                type: "POST",
                contentType: 'application/json',
                dataType: "json",
                headers: {
                    'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                },
                data: function (d) {
                    d.search.value = $('input[name=txt-search]').val();
                    return JSON.stringify(d);
                },
                dataSrc: function (json) {
                    json.recordsTotal = json.result.recordsTotal;
                    json.recordsFiltered = json.result.recordsFiltered;
                    return json.result.data;
                }
            },
            initComplete: function () {

            },
            columnDefs: [
                { "defaultContent": "", "targets": "_all" },
                { orderable: false, targets: getIdxFieldTable(fieldGroupParams, ['stt', 'ngay_tao', 'tac_vu']) },
                { visible: false, targets: getIdxFieldTable(fieldGroupParams, ['loai_ts']) },
                {
                    data: '',
                    targets: getIdxFieldTable(fieldGroupParams, ['stt']),
                    render: function (data, type, full, meta) {
                        return meta.settings._iDisplayStart + meta.row + 1;
                    },
                },
                {
                    data: '',
                    targets: getIdxFieldTable(fieldGroupParams, ['tac_vu']),
                    render: function (data, type, full, meta) {
                        return `<div class="btn-action text-center">
                                    <a class="btn btn-icon-edit" role="button" title="Sửa" onclick="showUpdateTab2Modal('${full.id}')">
                                        <span class="svg-icon svg-icon-edit"></span>    
                                    </a>    
                                    <a class="btn btn-icon-delete" role="button" onclick="showDeleteTab2Modal('${full.id}')">
                                        <span class="svg-icon svg-icon-delete" title="Xóa"></span>
                                    </a>    
                                </div>`
                    },
                },
            ],
            columns: [
                { className: 'noVis', targets: [0] },
                { data: 'loai_ts' },
                { data: 'ten_nhom' },
                { data: 'thu_tu_hien_thi' },
                { data: 'ngay_tao' },
                { className: 'noVis' },
            ]
        });

        // Validate nhóm tham số tài sản
        $('#nhomThamSoForm').validate({
            rules: {
                ten_nhom: {
                    required: true,
                    maxlength: 256
                },
                loai_ts: {
                    required: true,
                },
                thu_tu_hien_thi: {
                    required: true,
                    number: true,
                    min: 1
                }
            },
            messages: {
                ten_nhom: {
                    required: "Vui lòng nhập tên nhóm tham số.",
                    maxlength: "Tên nhóm tham số có độ dài tối đa 256 kí tự."
                },
                loai_ts: {
                    required: "Vui lòng chọn loại tài sản."
                },
                thu_tu_hien_thi: {
                    required: "Vui lòng nhập thứ tự hiển thị.",
                    number: "Vui lòng nhập một số hợp lệ.",
                    min: "Giá trị phải lớn hơn hoặc bằng 1."
                }
            },
            errorClass: "is-invalid",
            validClass: "is-valid",
            errorElement: "div",
            errorPlacement: function (error, element) {
                if (element.hasClass('select2-hidden-accessible')) {
                    // Insert the error message after the Select2 container
                    error.addClass("invalid-feedback");
                    error.insertAfter(element.next('.select2-container'));
                } else {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass(errorClass).removeClass(validClass);
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').addClass(errorClass);
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass(errorClass).addClass(validClass);
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').removeClass(errorClass);
                }
            }
        });

        // Cập nhật dữ liệu nhóm tham số tài sản
        $('#createTab2Modal .btn-save').on('click', function () {
            if ($('#nhomThamSoForm').valid()) {
                // Collect form data
                const formDataArray = $('#nhomThamSoForm').serializeArray();
                const formData = {};
                formDataArray.forEach(item => {
                    formData[item.name] = item.value;
                });
                // Make AJAX call
                let ajax_url = 'api/asset-parameter/group/create';
                let ajax_type = 'POST';
                let paramId = $('#nhomThamSoForm input[name="id"]').val();
                // Tồn tại Id thì call api update
                if (paramId) {
                    ajax_url = `api/asset-parameter/group/update/${paramId}`;
                    ajax_type = 'PUT';
                }

                $.ajax({
                    url: ajax_url, // Replace with your API endpoint
                    type: ajax_type,
                    headers: {
                        'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                    },
                    contentType: 'application/json', // Set content type to JSON
                    data: JSON.stringify(formData), // Convert formData to JSON string
                    success: function (res) {
                        // Handle success
                        toastr.success(res.message);
                        // Optionally, close the modal or reset the form
                        $('#createTab2Modal').modal('hide');
                        // Reload datatable
                        tableGroupParm.ajax.reload(null, false);
                    },
                    error: function (err) {
                        // Handle error
                        toastr.error(err.error);
                    }
                });
            }
        });

        // Search data
        $('.btn-search').on('click', function () {
            reloadTable();
        })
        $('#input-search').on('keydown', function (e) {
            if (event.key === "Enter" || event.keyCode === 13) {
                reloadTable();
            }
        })
        function reloadTable() {
            let tabName = $('#createModal')[0].getAttribute('data-bs-target');
            switch (tabName) {
                // Tab ds tham số
                case '#createTab1Modal':
                    dataTableParam.ajax.reload(null, false);
                    break;
                // Tab ds nhóm tham số
                case '#createTab2Modal':
                    tableGroupParm.ajax.reload(null, false);
                    break;
                default:
                    break;
            }
        }
        // Update nhóm tham số
        window.showUpdateTab2Modal = function (id) {
            $.ajax({
                url: `api/asset-parameter/group/detail/${id}`, // Replace with your API endpoint
                type: 'GET',
                headers: {
                    'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                },
                success: function (res) {
                    $('#nhomThamSoForm [name="id"]').val(res.result.id);
                    $('#nhomThamSoForm [name="ten_nhom"]').val(res.result.ten_nhom);
                    $('#nhomThamSoForm [name="loai_ts"]').val(res.result.loai_ts);
                    $('#nhomThamSoForm [name="thu_tu_hien_thi"]').val(res.result.thu_tu_hien_thi);
                    // Trigger validation on each field to show feedback
                    $('#nhomThamSoForm').validate().form();
                    // Show confirmation modal
                    $('#createTab2Modal').modal('show');
                    $('#createTab2Modal .modal-title').html('Cập nhật dữ liệu');
                },
                error: function (err) {
                    // Handle error
                    toastr.error(err.responseJSON?.error);
                }
            });
        }
        // Delete Ds nhóm tham số
        window.showDeleteTab2Modal = function (id) {
            // Show confirmation modal
            $('#deleteTab2Modal').modal('show');
            // Set the delete button action
            $('#deleteTab2Modal .btn-delete').off('click').on('click', function () {
                // Make AJAX call to delete the item
                $.ajax({
                    url: `api/asset-parameter/group/delete/${id}`, // Replace with your API endpoint
                    type: 'DELETE',
                    headers: {
                        'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                    },
                    success: function (res) {
                        // Handle success
                        toastr.success(res.message);
                        // Close the modal
                        $('#deleteTab2Modal').modal('hide');
                        // Reload datatable
                        tableGroupParm.ajax.reload(null, false);
                    },
                    error: function (err) {
                        // Handle error
                        toastr.error(err.responseJSON?.error);
                        // Close the modal
                        $('#deleteTab2Modal').modal('hide');
                    }
                });
            });
        }
    })

</script>
{% endblock %}

{% block bodyCreateTab1Modal %}
<form id="dataThamSoForm" class="row g-3 needs-validation" novalidate method="post">
    <input type="text" name="id" hidden />
    <div class="col-md-6">
        <label for="ma_truong" class="form-label">Mã trường dữ liệu:<span class="required">*</span></label>
        <input type="text" class="form-control" name="ma_truong" required>
    </div>
    <div class="col-md-6">
        <label for="ten_truong" class="form-label">Tên trường dữ liệu:<span class="required">*</span></label>
        <input type="text" class="form-control" name="ten_truong" required>
    </div>
    <div class="col-md-12">
        <label for="nhom_tham_so_id" class="form-label">Nhóm tham số:<span class="required">*</span></label>
        <select id="select-nhom-tham-so" class="form-control w-100" name="nhom_tham_so_id" required>
        </select>
    </div>
    <div class="col-md-6">
        <label for="kieu_du_lieu" class="form-label">Kiểu dữ liệu nhập:<span class="required">*</span></label>
        <select class="form-control" name="kieu_du_lieu" required>
            <option value="string">Kiểu chữ</option>
            <option value="number">Kiểu số</option>
            <option value="date">Kiểu ngày tháng</option>
            <option value="file">Kiểu upload file</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="ten_nhom" class="form-label">Thứ tự hiển thị trong nhóm:<span class="required">*</span></label>
        <input type="number" class="form-control" name="thu_tu_hien_thi" min="1" value="1" required>
    </div>
    <div class="col-md-12">
        <label for="mo_ta" class="form-label">Mô tả:</label>
        <textarea class="form-control" rows="3" name="mo_ta"></textarea>
    </div>
</form>
{% endblock %}

{% block bodyCreateTab2Modal %}
<form id="nhomThamSoForm" class="row g-3 needs-validation" novalidate method="post">
    <input type="text" name="id" hidden />
    <div class="col-md-12">
        <label for="ten_nhom" class="form-label">Tên nhóm tham số:<span class="required">*</span></label>
        <input type="text" class="form-control" name="ten_nhom" required>
    </div>
    <div class="col-md-12">
        <label for="loai_ts" class="form-label">Loại tài sản:<span class="required">*</span></label>
        <select class="form-control" name="loai_ts" required>
            <option value="DAT_CS">Đất Công sản</option>
            <option value="NHA_CS">Nhà Công Sản</option>
        </select>
    </div>
    <div class="col-md-12">
        <label for="thu_tu_hien_thi" class="form-label">Thứ tự hiển thị:<span class="required">*</span></label>
        <input type="number" class="form-control" name="thu_tu_hien_thi" min="1" value="1" required>
    </div>
</form>
{% endblock %}