:root {
  --bs-body-font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  --bs-body-font-family: Roboto, sans-serif;
  --bs-body-font-size: 16px;
  background-color: #F8F9FA;
  overflow: hidden;
}

.btn {
  --bs-btn-font-size: 16px;
}

.nav-link {
  --bs-nav-link-font-size: 16px;
}

.table {
  font-size: 16px;
}

form {
  margin-bottom: 0;
}

/* input:invalid {
  background-color: #FFAAAA;
} */

.required {
  color: red;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

.nav-logo img {
  width: 50px;
  height: 50px;
}

.nav-logo p {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  color: #E83976;
  text-transform: uppercase;
}

.nav-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 110px;
  justify-content: space-between;
}

.nav-search {
  display: flex;
  height: 45px;
  align-items: center;
}

.nav-search input {
  background-color: transparent;
  width: 300px;
}

.nav-info .nav-info-user img {
  width: 30px;
  cursor: pointer;
}

.nav-info .nav-info-noti img {
  width: 23px;
  cursor: pointer;
}

.nav-info .nav-info-logout img {
  width: 20px;
  cursor: pointer;
}


/* Sidebar styling */
.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  height: 100%;
  width: 250px;
  border-radius: 12px;
  padding-top: 15px;
  margin: 0 5px 10px 5px;
  background: var(--menu-bkg, linear-gradient(180deg, #0054A6 0%, #0A3B7B 100%));
  transition: width 0.3s;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--bs-breadcrumb-item-active-color) #f1f1f1;
}
.sidebar .nav-link.active {
  background-color: #0093D8;
}
.sidebar .nav-link {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 10px 10px 15px;
  color: #fff;
  margin: 0 10px 5px 10px;
  border-radius: 5px;
}
.sidebar .description {
  font-size: 16px;
}
.sidebar .sub-menu .nav-link {
  gap: 8px;
}
.sidebar .nav-link:hover {
  background-color: #0093D8;
}
.sidebar .sub-menu {
  padding-left: 5%;
}
.sidebar .sidebar-toggle {
  position: absolute;
  top: 0;
  right: 5px;
  color: #fff;
  cursor: pointer;
}

.sidebar.collapsed {
  width: 60px;
}
.sidebar.collapsed .description {
  display: none;
}
.sidebar.collapsed .nav-link {
  justify-content: center;
  padding: 10px 0;
}
.sidebar.collapsed .icon-drop {
  display: none;
}
.sidebar.collapsed + .content {
  margin-left: 60px;
}

/* .sidebar {
  height: calc(100% - 85px);
  overflow-y: auto;
  width: 250px;
  position: fixed;
  top: 70px;
  left: 0;
  border-radius: 12px;
  background: var(--menu-bkg, linear-gradient(180deg, #0054A6 0%, #0A3B7B 100%));
  padding-top: 10px;
  margin: 10px 5px;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 60px;
} */

/* .sidebar a span.icon, 
.dropdown-btn span.icon {
  width: 24px;
  margin-right: 10px;
} */

/* .sidebar.collapsed a span.text, 
.sidebar.collapsed .dropdown-btn span.text,
.sidebar.collapsed .dropdown-btn i,
.sidebar.collapsed .dropdown-container a {
  display: none;
}

.sidebar.collapsed .svg-icon {
  margin-right: 0;
  padding: 0;
  width: 100%;
}

.sidebar.collapsed a, .sidebar.collapsed .dropdown-btn {
  padding: 10px 0;
}

.sidebar a, .dropdown-btn {
  margin: 5px 15px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

.sidebar a {
  display: flex;
  align-items: center;
}

.dropdown-btn {
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
} */

/* .sidebar a:hover, .dropdown-btn:hover {
  background-color: #0093D8;
}

.sidebar a.active {
  background-color: #0093D8;
}

.dropdown-btn i {
  float: right;
  margin-left: auto;
}

.dropdown-container {
  display: none;
  background-color: transparent;
  padding-left: 15px;
}

.dropdown-container a {
  padding: 8px 15px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
}

.dropdown-container a:hover {
  background-color: #0093D8;
}

.sidebar-collapsed {
  position: absolute;
  bottom: 1px;
  right: 7px;
  color: #fff;
  cursor: pointer;
} */

/* Content styling */
.content {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0 20px 20px 20px;
  transition: margin-left 0.3s ease;
  height: 100%;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--bs-breadcrumb-item-active-color) #f1f1f1;
}

.modal-body {
  max-height: 80vh;
  overflow-y: auto;
}

/* .sidebar.collapsed + .content {
  margin-left: 60px;
} */

.btn-create {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.20);
  border-radius: 8px;
  background: var(--Gradients-Green, linear-gradient(180deg, #63B967 0%, #4BA64F 100%));
  color: #fff;
  min-width: 118px;
  height: 40px;
}

.btn-create:hover, .btn-save:hover, .btn-delete:hover {
  color: #fff;
}

.btn-save {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.20);
  border-radius: 8px;
  background: var(--Gradients-Green, linear-gradient(180deg, #63B967 0%, #4BA64F 100%));
  color: #fff;
}
.btn-delete {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.20);
  border-radius: 8px;
  background: var(--Gradients-Green, linear-gradient(180deg, red 0%, red 100%));
  color: #fff;
}

.wrapper-filter-search input {
  border: 1px solid var(--stroke, #7B809A);
  border-radius: 8px 0 0 8px;
}

.wrapper-filter-search .btn-search {
  border: 1px solid var(--stroke, #7B809A);
  background-color: #fff;
  border-left: none;
  border-radius: 0 8px 8px 0;
}

.wrapper-filter-search .btn-filter {
  cursor: pointer;
}

.wrapper-filter-search .svg-icon {
  margin-right: 5px;
}

.wrapper-content {
  filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.20));
}

.wrapper-content .tab-content {
  background: #fff;
  border-radius: 0 0 8px 8px;
}

.wrapper-content table {
  width: 100%;
  border-collapse: collapse;
}

.wrapper-content thead th {
  padding: 12px;
  font-weight: bold;
  color: #0A3B7B;
  text-align: left;
}

.nav-tabs .nav-link {
  color: #7B809A;
}

.nav-tabs .nav-link.active {
  color: #0093D8;
  font-weight: 700;
}

/* Datatables */
div.dt-processing>div:last-child>div {
  background-color: #0A3B7B !important;
}
div.dt-length {
  display: flex;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}
div.dt-paging {
  display: flex;
  float: right;
  margin-top: 15px;
}
div.dt-info {
  display: flex;
  float: left;
  margin-top: 23px;
}
/* button.dt-paging-button.first {
  display: none !important;
}
button.dt-paging-button.last {
  display: none !important;
} */
.btn-action .svg-icon {
  margin: 0;  
}
.btn-action .btn-icon-edit, .btn-action .btn-icon-delete {
  padding: 5px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid var(--bs-border-color) !important;
}
.select2-container--default .select2-selection--single {
  border: 1px solid var(--bs-border-color) !important;
}
.select2-container .select2-selection--single {
  height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px !important;
}
.svg-icon {
  display: inline-block;
  width: 24px; /* Kích thước của SVG */
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle; /* Căn giữa với văn bản */
  /* margin-right: 15px; */
}
.svg-icon-home {
  background-image:  url('../img/home.svg');
}
.svg-icon-data {
  background-image:  url('../img/data.svg');
}
.svg-icon-map {
  background-image:  url('../img/map.svg');
}
.svg-icon-report {
  background-image:  url('../img/report.svg');
}
.svg-icon-system {
  background-image:  url('../img/systems.svg');
}
.svg-icon-submenu {
  margin-right: 0;
}
.svg-icon-dot {
  background-image:  url('../img/dot.svg');
}
.svg-icon-filter {
  background-image:  url('../img/filter.svg');
}
.svg-icon-edit {
  background-image:  url('../img/edit.svg');
}
.svg-icon-delete {
  background-image:  url('../img/delete.svg');
}
.svg-icon-map-menu {
  background-image:  url('../img/map_menu.svg');
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }
  .sidebar .description {
    display: none;
  }
  .sidebar .nav-link {
    justify-content: center;
    padding: 10px 0;
  }
  .sidebar .icon-drop {
    display: none;
  }
  .content {
    margin-left: 60px;
  }
  .nav-search {
    display: none;
  }
}