{% extends "templates/base_index_v2.html" %}
{% block title %}{{ i18n('interface.public_building.title') }}{% endblock %}
{% block new_resource_label %}{{ i18n('interface.public_building.new_public_building') }}{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ utils.render_icon('house-door-fill') }}</li>
        <li class="breadcrumb-item active">Quản lý tài sản</li>
        <li class="breadcrumb-item" aria-current="page">Nhà công sản</li>
    </ol>
</nav>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='libs/select2/select2.min.js') }}"></script>
{% endblock %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='libs/select2/select2.min.css') }}" rel="stylesheet">
<style>
    #tab-DuLieuModal .nav-link {
        color: #7B809A;
    }

    #tab-DuLieuModal .nav-link.active {
        color: #fff;
        background-color: #0093D8;
    }

    #v-pills-tab {
        min-width: 125px;
        border-right: 1px solid #f5f5f5;
    }

    #v-pills-tabContent .tab-pane.active {
        display: inline-flex;
    }

    #btn-DuLieuTaiSan {
        color: blue;
        text-decoration: underline;
    }

    .select2-container {
        width: 100% !important;
    }

    @media (min-width: 576px) {
        #createTab1Modal .modal-dialog {
            max-width: 700px !important;
        }
    }
</style>
{% endblock %}
{% block table %}
<ul class="nav nav-tabs w-100" id="tabNhaCongSan" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tabDuLieuChinh" data-bs-toggle="tab" data-bs-target="#tab-DuLieuChinh"
            data-target-modal="#createTab1Modal" type="button" role="tab" aria-controls="tab-DuLieuChinh"
            aria-selected="true">Ds nhà công sản</button>
    </li>
    <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="tabChoPheDuyet" data-bs-toggle="tab" data-bs-target="#tab-ChoPheDuyet"
            data-target-modal="#createTab2Modal" type="button" role="tab" aria-controls="tab-ChoPheDuyet"
            aria-selected="false">Ds chờ phê duyệt</button>
    </li> -->
</ul>
<div class="tab-content px-4 py-4">
    <div class="tab-pane fade show active" id="tab-DuLieuChinh" role="tabpanel" aria-labelledby="tab-DuLieuChinh">
        <table id="tableDuLieuChinh" class="display responsive">
            <thead>
                <tr>
                    <th>STT</th>
                    <th style="min-width: 200px;">Mã tài sản</th>
                    <th style="min-width: 200px;">Tên tài sản</th>
                    <th style="min-width: 200px;">Địa chỉ</th>
                    <th style="min-width: 142px;">Số tờ</th>
                    <th style="min-width: 142px;">Số thửa</th>
                    <th>Ảnh/Văn bản</th>
                    <th style="min-width: 100px;">Ngày tạo</th>
                    <th class="text-center" style="min-width: 100px;">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="tab-ChoPheDuyet" role="tabpanel" aria-labelledby="tab-ChoPheDuyet">
        <!-- <table id="tableChoPheDuyet" class="display responsive">
            <thead>
                <tr>
                    <th>STT</th>
                    <th style="min-width: 175px;">Tên nhóm tham số</th>
                    <th style="min-width: 100px;">Thứ tự hiển thị</th>
                    <th style="min-width: 100px;">Ngày tạo</th>
                    <th class="text-center" style="min-width: 100px;">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table> -->
    </div>
</div>
{% endblock %}
{% block addNewModal %}
<div class="modal fade" id="chonTaiSanCoSanModal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
    aria-labelledby="chonTaiSanCoSanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Chọn mã tài sản có sẵn
                </h5>
            </div>
            <div class="modal-body my-2">
                <div class="d-flex justify-content-center">
                    <form id="dmPhanLoaiTSForm" class="row g-3 needs-validation" novalidate method="post">
                        <div class="d-flex w-100 flex-column">
                            <p class="text-center">Vui lòng lựa chọn mã tài sản có sẵn trong hệ thống.</p>
                            <select id="select-maTaiSan" class="form-control w-100" name="selectMaTaiSan"></select>
                        </div>
                    </form>
                </div>
                <div class="d-flex m-4" id="select-content-detail"></div>
                <div class="d-flex justify-content-center mt-4" style="gap: 10px;">
                    <button type="button" class="btn btn-maTaiSan-next">{{ utils.render_icon('arrow-right') }} Tiếp
                        tục</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{
                        utils.render_icon('x-circle') }}
                        Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block titleStep1Modal %}
Thêm mới dữ liệu nhà công sản
{% endblock %}
{% block bodyStep1Modal %}
<form id="dmPhanLoaiTSForm" class="row g-3 needs-validation" novalidate method="post">
    <div class="d-flex w-100 flex-column">
        <p class="text-center">Vui lòng lựa chọn danh mục phân loại tài sản cho nhà công sản.</p>
        <select id="select-phan-loai-ts" class="form-control w-100" name="ten_loai_ts"></select>
    </div>
</form>
{% endblock %}
{% block bodyCreateTab1Modal %}
<ul class="nav nav-tabs w-100" id="tabDuLieuChinhModal" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tabDuLieuModal" data-bs-toggle="tab" data-bs-target="#tab-DuLieuModal"
            type="button" role="tab" aria-controls="tab-DuLieuModal" aria-selected="true">Dữ liệu</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tabBanDoModal" data-bs-toggle="tab" data-bs-target="#tab-BanDoModal" type="button"
            role="tab" aria-controls="tab-BanDoModal" aria-selected="false">Bản đồ</button>
    </li>
</ul>
<div class="tab-content py-4">
    <div class="tab-pane fade show active" id="tab-DuLieuModal" role="tabpanel" aria-labelledby="tab-DuLieuModal">
        <form id="duLieuChinhForm" class="row g-3 needs-validation" novalidate method="post">
            <input type="text" name="id" hidden />
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3 pe-2" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <!-- <button class="nav-link text-start active" id="thamChieu-tab" data-bs-toggle="pill"
                        data-bs-target="#thamChieu" type="button" role="tab" aria-controls="thamChieu"
                        aria-selected="true">Tham chiếu</button>
                    <button class="nav-link text-start" id="viTri-tab" data-bs-toggle="pill" data-bs-target="#viTri"
                        type="button" role="tab" aria-controls="viTri" aria-selected="false">Vị trí</button> -->
                    <!-- <button class="nav-link text-start" id="moTaVatLy-tab" data-bs-toggle="pill"
                        data-bs-target="#moTaVatLy" type="button" role="tab" aria-controls="moTaVatLy"
                        aria-selected="false">Mô tả vật lý</button>
                    <button class="nav-link text-start" id="phapLy-tab" data-bs-toggle="pill" data-bs-target="#phapLy"
                        type="button" role="tab" aria-controls="phapLy" aria-selected="false">Pháp lý</button> -->
                    <!-- <button class="nav-link text-start" id="thongTinThua-tab" data-bs-toggle="pill"
                        data-bs-target="#thongTinThua" type="button" role="tab" aria-controls="thongTinThua"
                        aria-selected="false">Thông tin thửa</button>
                    <button class="nav-link text-start" id="tinhTrangSuDung-tab" data-bs-toggle="pill"
                        data-bs-target="#tinhTrangSuDung" type="button" role="tab" aria-controls="tinhTrangSuDung"
                        aria-selected="false">Tình trạng sử dụng</button> -->
                </div>
                <div class="tab-content tab-validate row w-100" id="v-pills-tabContent">
                    <!-- <div class="tab-pane row fade show active" id="thamChieu" role="tabpanel"
                        aria-labelledby="thamChieu-tab">
                        <div class="col-md-6 mt-3">
                            <label for="maTaiSan" class="form-label">Mã tài sản:<span class="required">*</span></label>
                            <input type="text" class="form-control" name="maTaiSan" required disabled>
                            <span class="w-100 mt-1 m-0">
                                <a id="btn-DuLieuTaiSan" data-bs-toggle="modal" data-bs-target="#chonTaiSanCoSanModal"
                                    role="button">+ Chọn dữ
                                    liệu tài sản có sẵn</a>
                            </span>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="tenTaiSan" class="form-label">Tên tài sản:<span
                                    class="required">*</span></label>
                            <input type="text" class="form-control" name="tenTaiSan" required>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="maCoSo" class="form-label">Mã cơ sở:<span class="required">*</span></label>
                            <input type="text" class="form-control" name="maCoSo" required>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="tenCoQuan" class="form-label">Tên cơ quan:<span
                                    class="required">*</span></label>
                            <input type="text" class="form-control" name="tenCoQuan" required>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="loaiTaiSan" class="form-label">Loại tài sản:<span
                                    class="required">*</span></label>
                            <input type="text" class="form-control" name="loaiTaiSan" required>
                        </div>
                    </div>
                    <div class="tab-pane row fade" id="viTri" role="tabpanel" aria-labelledby="viTri-tab">
                        <div class="col-md-6 mt-3">
                            <label for="tinhTP" class="form-label">Tỉnh/TP:<span class="required">*</span></label>
                            <input type="text" class="form-control" name="tinhTP" required>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="quanHuyen" class="form-label">Quận/Huyện:<span class="required">*</span></label>
                            <input type="text" class="form-control" name="quanHuyen" required>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="phuongXa" class="form-label">Phường/Xã:<span class="required">*</span></label>
                            <input type="text" class="form-control" name="phuongXa" required>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="diaDiem" class="form-label">Địa điểm:<span class="required">*</span></label>
                            <input type="text" class="form-control" name="diaDiem" required>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="toaDoDiaLy" class="form-label">Tọa độ địa lý:<span
                                    class="required">*</span></label>
                            <input type="text" class="form-control" name="toaDoDiaLy" required>
                        </div>
                    </div>
                    <div class="tab-pane row fade" id="moTaVatLy" role="tabpanel" aria-labelledby="moTaVatLy-tab">

                    </div>
                    <div class="tab-pane row fade" id="thongTinThua" role="tabpanel" aria-labelledby="thongTinThua-tab">
                        <div class="col-md-6 mt-3">
                            <label for="maSoTo" class="form-label">Mã số tờ:</label>
                            <input type="number" class="form-control" name="maSoTo" required>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="maSoThua" class="form-label">Mã số thửa:</label>
                            <input type="number" class="form-control" name="maSoThua" required>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="fileDinhKems" class="form-label">Ảnh/Văn bản:</label>
                            <input type="file" class="form-control" name="fileDinhKems" required>
                        </div>
                    </div>
                    <div class="tab-pane row fade" id="thongTinThua" role="tabpanel" aria-labelledby="thongTinThua-tab">

                    </div>
                    <div class="tab-pane row fade" id="tinhTrangSuDung" role="tabpanel"
                        aria-labelledby="tinhTrangSuDung-tab">

                    </div> -->
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="tab-BanDoModal" role="tabpanel" aria-labelledby="tab-BanDoModal">
        <iframe
            src="/map_viewer?t=DaNang_PBM_Shpfile&l=edit_polygons%2Cedit_points%2Cedit_lines%2CNHA_CS_METADATA%2CDAT_CS_METADATA%2COpenStreetMap&bl=&c=12043404%2C1810885&s=20000"
            width="100%" height="600px" frameborder="0" allowfullscreen
            sandbox="allow-scripts allow-same-origin allow-top-navigation allow-forms allow-popups allow-pointer-lock allow-popups-to-escape-sandbox"></iframe>
    </div>
</div>
{% endblock %}

{% block renderScripts %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // Init show modal create
        const createButton = document.getElementById('createModal');
        if (createButton) {
            createButton.setAttribute('data-bs-target', '#step1Modal')
        }

        $("#select-phan-loai-ts").select2({
            placeholder: 'Chọn danh mục phân loại tài sản...',
            allowClear: true,
            minimumInputLength: 0, // Number of characters before AJAX request is made
            dropdownParent: $('#step1Modal'),
            ajax: {
                url: 'api/asset-type/type/categories/all', // API endpoint URL
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    return {
                        results: data.result
                    };
                },
                cache: true
            }
        });

        // TODO
        let listMaTaiSan = [];
        $("#select-maTaiSan").select2({
            placeholder: 'Chọn mã tài sản...',
            allowClear: true,
            minimumInputLength: 0, // Number of characters before AJAX request is made
            dropdownParent: $('#chonTaiSanCoSanModal'),
            ajax: {
                url: 'api/public-building/categories/all', // API endpoint URL
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    listMaTaiSan = data;
                    return {
                        results: data.result
                    };
                },
                cache: true
            }
        });

        // Event listener for change event
        $("#select-maTaiSan").on('change', function () {
            var selectedValue = $(this).val();
            // Add any additional logic you want to execute on change
            let itemSelected = listMaTaiSan['result'].filter(x => x.id === selectedValue);
            const selectMaTaiSan = document.getElementById("select-content-detail");
            if (selectedValue) {
                selectMaTaiSan.innerHTML = `
                    <ul>
                        <li>Mã tài sản: ${itemSelected[0].id}</li>
                        <li>Tên tài sản: ${itemSelected[0].ten_tai_san}</li>
                        <li>Địa chỉ: ${itemSelected[0].dia_chi}</li>
                        <li>Mã số tờ: ${itemSelected[0].ma_to_thua}</li>
                        <li>Mã số thửa: ${itemSelected[0].ma_to_dat}</li>
                    </ul>
                `;
            } else {
                selectMaTaiSan.innerHTML = '';
            }

            console.log(itemSelected);
        });

        $('#chonTaiSanCoSanModal').on('shown.bs.modal', function () {
        });

        $('#chonTaiSanCoSanModal').on('hide.bs.modal', function () {
            $('#createTab1Modal').modal('show');
        });

        $('#createTab1Modal').on('shown.bs.modal', function () {
            let id = $('#createTab1Modal input[name="id"]').val();

            if (!id) {
                $('#createTab1Modal .modal-title').html('Thêm mới dữ liệu');
                // Nếu là thêm mới thì tự động gợi ý mã tài sản
                const timestamp = Math.floor(Date.now() / 1000);
                let valMaTaiSan = `NDCS-${new Date().getFullYear()}${timestamp}`;
                $('#createTab1Modal input[name="ma_tai_san"]').val(valMaTaiSan);
            } else {

            }

            renderSelectAddress();
            renderFormatDate();
        });

        $('#createTab1Modal').on('hide.bs.modal', function () {
            $('#duLieuChinhForm')[0].reset();
        })
    })

    let globalParams = [];
    $(document).ready(function () {
        // Validate lựa chọn danh mục phân loại tài sản
        $('#dmPhanLoaiTSForm').validate({
            rules: {
                ten_loai_ts: {
                    required: true
                }
            },
            messages: {
                ten_loai_ts: {
                    required: "Vui lòng nhập chọn danh mục.",
                }
            },
            errorClass: "is-invalid",
            validClass: "is-valid",
            errorElement: "div",
            errorPlacement: function (error, element) {
                if (element.hasClass('select2-hidden-accessible')) {
                    // Insert the error message after the Select2 container
                    error.addClass("invalid-feedback");
                    error.insertAfter(element.next('.select2-container'));
                } else {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass(errorClass).removeClass(validClass);
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').addClass(errorClass);
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass(errorClass).addClass(validClass);
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').removeClass(errorClass);
                }
            }
        });

        $('#step1Modal .btn-step1-next').on('click', async function () {
            if ($('#dmPhanLoaiTSForm').valid()) {
                const id = $('#select-phan-loai-ts').val();
                // Get all param
                await renderTabAndContentUI(id);

            } else {
                toastr.error('Vui lòng nhập đầy đủ trường bắt buộc.');
            }
        });

        const fieldDuLieuChinh = [
            "stt",
            "ma_tai_san",
            "ten_tai_san",
            "full_dia_chi",
            "so_to",
            "so_thua",
            "ds_file_dinh_kem",
            "ngay_tao",
            "tac_vu"
        ];

        let tableDuLieuChinh = new DataTable('#tableDuLieuChinh', {
            dom: 'rtlip',
            ordering: true,
            scrollY: 300,
            scrollX: true,
            scrollCollapse: true,
            processing: true,
            serverSide: true,
            searching: { regex: true },
            pageLength: 10,
            responsive: false,
            pagingType: "simple_numbers",
            language: PBMSLang,
            order: [],
            ajax: {
                url: "api/public-building/page",
                type: "POST",
                contentType: 'application/json',
                dataType: "json",
                headers: {
                    'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                },
                data: function (d) {
                    d.search.value = $('input[name=txt-search]').val();
                    return JSON.stringify(d);
                },
                dataSrc: function (json) {
                    json.recordsTotal = json.result.recordsTotal;
                    json.recordsFiltered = json.result.recordsFiltered;
                    return json.result.data;
                }
            },
            initComplete: function () {

            },
            columnDefs: [
                { "defaultContent": "", "targets": "_all" },
                {
                    orderable: false, targets: getIdxFieldTable(fieldDuLieuChinh,
                        ['stt', 'ds_file_dinh_kem', 'ngay_tao', 'tac_vu'])
                },
                {
                    data: '',
                    targets: getIdxFieldTable(fieldDuLieuChinh, ['stt']),
                    render: function (data, type, full, meta) {
                        return meta.settings._iDisplayStart + meta.row + 1;
                    },
                },
                {
                    data: '',
                    targets: getIdxFieldTable(fieldDuLieuChinh, ['tac_vu']),
                    render: function (data, type, full, meta) {
                        return `<div class="btn-action text-center">
                                    <a class="btn btn-icon-edit" role="button" title="Sửa" onclick="showUpdateTab1Modal('${full.id}')">
                                        <span class="svg-icon svg-icon-edit"></span>    
                                    </a>    
                                    <a class="btn btn-icon-delete" role="button" onclick="showDeleteTab1Modal('${full.id}')">
                                        <span class="svg-icon svg-icon-delete" title="Xóa"></span>
                                    </a>    
                                </div>`
                    },
                },
            ],
            columns: [
                { className: 'noVis', targets: [0] },
                { data: 'ma_tai_san' },
                { data: 'ten_tai_san' },
                { data: 'full_dia_chi' },
                { data: 'so_to' },
                { data: 'so_thua' },
                { data: 'ds_file_dinh_kem' },
                { data: 'ngay_tao' },
                { className: 'noVis' },
            ]
        });

        $('#duLieuChinhForm').validate({
            rules: {
                ma_tai_san: {
                    required: true,
                },
                ten_tai_san: {
                    required: true,
                },
                so_to: {
                    required: true,
                },
                so_thua: {
                    required: true,
                },
                dia_chi: {
                    required: true,
                    maxlength: 500
                },
                ma_px: {
                    required: true,
                },
                ma_qh: {
                    required: true,
                },
                ma_tp: {
                    required: true,
                }
            },
            messages: {
                ma_tai_san: {
                    required: "Vui lòng nhập mã tài sản.",
                },
                ten_tai_san: {
                    required: "Vui lòng nhập tên tài sản.",
                },
                so_to: {
                    required: "Vui lòng nhập số tờ.",
                },
                so_thua: {
                    required: "Vui lòng nhập số thửa.",
                },
                dia_chi: {
                    required: "Vui lòng nhập địa chỉ.",
                    maxlength: "Tên nhóm tham số có độ dài tối đa 500 kí tự."
                },
                ma_px: {
                    required: "Vui lòng chọn Phường/Xã.",
                },
                ma_qh: {
                    required: "Vui lòng chọn Quận/Huyện.",
                },
                ma_tp: {
                    required: "Vui lòng chọn Tỉnh/TP.",
                },
            },
            errorClass: "is-invalid",
            validClass: "is-valid",
            errorElement: "div",
            errorPlacement: function (error, element) {
                if (element.hasClass('select2-hidden-accessible')) {
                    // Insert the error message after the Select2 container
                    error.addClass("invalid-feedback");
                    error.insertAfter(element.next('.select2-container'));
                } else {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass(errorClass).removeClass(validClass);
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').addClass(errorClass);
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass(errorClass).addClass(validClass);
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').removeClass(errorClass);
                }
            }
        });

        // Tạo mới loại tài sản
        $('#createTab1Modal .btn-save').on('click', function () {
            if ($('#duLieuChinhForm').valid()) {
                // Collect form data
                const formData = new FormData($('#duLieuChinhForm')[0]);
                // Gán lại giá trị
                formData.append('ma_tai_san', $('input[name="ma_tai_san"]').val());
                formData.append('phan_loai_tai_san_id', $('select[name="phan_loai_tai_san_id"]').val());
                // Truyền lại danh sách param
                formData.append('body_params', JSON.stringify(globalParams));
                formData.append('ten_tp', $("#select-province").text());
                formData.append('ten_qh', $("#select-district").text());
                formData.append('ten_px', $("#select-ward").text());

                // for (let [key, value] of formData.entries()) {
                //     console.log(`${key}:`, value); // Hiển thị key và giá trị
                // }

                // Make AJAX call
                let ajax_url = 'api/public-building/create';
                let ajax_type = 'POST';
                let paramId = $('#duLieuChinhForm input[name="id"]').val();
                // Tồn tại Id thì call api update
                if (paramId) {
                    ajax_url = `api/public-building/update/${paramId}`;
                    ajax_type = 'PUT';
                }

                $.ajax({
                    url: ajax_url, // Replace with your API endpoint
                    type: ajax_type,
                    headers: {
                        'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                    },
                    contentType: false, // Set content type to false for FormData
                    processData: false, // Prevent jQuery from setting the Content-Type header
                    data: formData, // Use FormData directly
                    success: function (res) {
                        // Handle success
                        toastr.success(res.message);
                        // Optionally, close the modal or reset the form
                        $('#createTab1Modal').modal('hide');
                        // Reload datatable
                        tableDuLieuChinh.ajax.reload(null, false);
                    },
                    error: function (err) {
                        // Handle error
                        toastr.error(err.error);
                    }
                });
            }
        });

        window.showUpdateTab1Modal = function (id) {
            $.ajax({
                url: `api/public-building/detail/${id}`, // Replace with your API endpoint
                type: 'GET',
                headers: {
                    'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                },
                success: async function (res) {
                    const data = res.result;
                    $('#duLieuChinhForm [name="id"]').val(data.id);
                    // Trigger validation on each field to show feedback
                    // Get all param
                    await renderTabAndContentUI(data.phan_loai_tai_san_id).then(() => {
                        globalParams.forEach(item => {
                            $(`#duLieuChinhForm [name="${item.ma_truong}"]`).val(data[`${item.ma_truong}`]);
                        });

                        $('#select-province').append(new Option(data.ten_tp, data.ma_tp, true, true)).trigger('change');
                        $('#select-district').append(new Option(data.ten_qh, data.ma_qh, true, true)).trigger('change');
                        $('#select-ward').append(new Option(data.ten_px, data.ma_px, true, true)).trigger('change');
                        $('#duLieuChinhForm').validate().form();
                        // Show confirmation modal
                        $('#createTab1Modal').modal('show');
                        $('#createTab1Modal .modal-title').html('Cập nhật dữ liệu');
                    });
                },
                error: function (err) {
                    // Handle error
                    toastr.error(err.responseJSON?.error);
                }
            });
        }

        window.showDeleteTab1Modal = function (id) {
            // Show confirmation modal
            $('#deleteTab1Modal').modal('show');
            // Set the delete button action
            $('#deleteTab1Modal .btn-delete').off('click').on('click', function () {
                // Make AJAX call to delete the item
                $.ajax({
                    url: `api/public-building/delete/${id}`, // Replace with your API endpoint
                    type: 'DELETE',
                    headers: {
                        'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                    },
                    success: function (res) {
                        // Handle success
                        toastr.success(res.message);
                        // Close the modal
                        $('#deleteTab1Modal').modal('hide');
                        // Reload datatable
                        tableDuLieuChinh.ajax.reload(null, false);
                    },
                    error: function (err) {
                        // Handle error
                        toastr.error(err.responseJSON?.error);
                        // Close the modal
                        $('#deleteTab1Modal').modal('hide');
                    }
                });
            });
        }
    })

    function generateRandomString(length = 8) {
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
        let result = '';
        for (let i = 0; i < length; i++) {
            result += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return result;
    }

    function renderUIControl(obj, idTS, tenLoaiTS) {
        let content = '<div class="col-md-6 mt-3">';
        if (obj.ma_truong === 'ma_tai_san') {
            content += `
                    <label for="${obj.ma_truong}" class="form-label">${obj.ten_truong}:</label>
                    <input type="text" class="form-control" name="${obj.ma_truong}" required disabled>
                `;
            // <span class="w-100 mt-1 m-0">
            //     <a id="btn-DuLieuTaiSan" data-bs-toggle="modal" data-bs-target="#chonTaiSanCoSanModal"
            //         role="button">+ Chọn dữ
            //         liệu tài sản có sẵn</a>
            // </span>
        } else if (obj.ma_truong === 'phan_loai_tai_san_id') {
            content += `
                    <label for="${obj.ma_truong}" class="form-label">${obj.ten_truong}:</label>
                    <select class="form-control" name="${obj.ma_truong}" disabled>
                        <option value="${idTS}">${tenLoaiTS}</option>
                    </select>
                `;
        } else if (obj.ma_truong === 'ma_tp') {
            content += `
                    <label for="${obj.ma_truong}" class="form-label">${obj.ten_truong}:</label>
                    <select id="select-province" class="form-control w-100" name="ma_tp"></select>
                `;
        } else if (obj.ma_truong === 'ma_qh') {
            content += `
                    <label for="${obj.ma_truong}" class="form-label">${obj.ten_truong}:</label>
                    <select id="select-district" class="form-control w-100" name="ma_qh"></select>
                `;
        } else if (obj.ma_truong === 'ma_px') {
            content += `
                    <label for="${obj.ma_truong}" class="form-label">${obj.ten_truong}:</label>
                    <select id="select-ward" class="form-control w-100" name="ma_px"></select>
                `;
        } else {
            if (obj.kieu_du_lieu === 'string') {
                content += `
                    <label for="${obj.ma_truong}" class="form-label">${obj.ten_truong}:</label>
                    <input type="text" class="form-control" name="${obj.ma_truong}">
                `;
            } else if (obj.kieu_du_lieu === 'textarea') {
                content += `
                    <label for="${obj.ma_truong}" class="form-label">${obj.ten_truong}:</label>
                    <textarea type="text" class="form-control" rows="3" name="${obj.ma_truong}"></textarea>
                `;
            } else if (obj.kieu_du_lieu === 'integer') {
                content += `
                    <label for="${obj.ma_truong}" class="form-label">${obj.ten_truong}:</label>
                    <input type="number" class="form-control" name="${obj.ma_truong}">
                `;
            } else if (obj.kieu_du_lieu === 'float') {
                content += `
                    <label for="${obj.ma_truong}" class="form-label">${obj.ten_truong}:</label>
                    <input type="number" class="form-control" name="${obj.ma_truong}">
                `;
            } else if (obj.kieu_du_lieu === 'date') {
                content += `
                    <label for="${obj.ma_truong}" class="form-label">${obj.ten_truong}:</label>
                    <input id="${obj.ma_truong}" data-type="date" type="text" placeholder="dd/MM/yyyy" class="form-control" name="${obj.ma_truong}">
                `;
            } else if (obj.kieu_du_lieu === 'file') {
                content += `
                    <label for="${obj.ma_truong}" class="form-label">${obj.ten_truong}:</label>
                    <input type="file" class="form-control" name="${obj.ma_truong}" mulptile>
                `;
            }
        }
        content += '</div>';
        return content;
    }

    function renderSelectAddress() {
        $("#select-province").select2({
            placeholder: 'Chọn Tỉnh/TP...',
            allowClear: true,
            minimumInputLength: 0, // Number of characters before AJAX request is made
            dropdownParent: $('#createTab1Modal'),
            ajax: {
                url: 'api/categories/province', // API endpoint URL
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    return {
                        results: data.result
                    };
                },
                cache: true
            }
        });

        $('#select-province').on('select2:select', function (e) {
            // Do something
            let ma_tp = e.target.value;
            $("#select-district").select2({
                placeholder: 'Chọn Quận Huyện...',
                allowClear: true,
                minimumInputLength: 0, // Number of characters before AJAX request is made
                dropdownParent: $('#createTab1Modal'),
                ajax: {
                    url: `api/categories/${ma_tp}/district`, // API endpoint URL
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: data.result
                        };
                    },
                    cache: true
                }
            });
        });
        $('#select-district').on('select2:select', function (e) {
            // Do something
            let ma_qh = e.target.value;
            $("#select-ward").select2({
                placeholder: 'Chọn Phường Xã...',
                allowClear: true,
                minimumInputLength: 0, // Number of characters before AJAX request is made
                dropdownParent: $('#createTab1Modal'),
                ajax: {
                    url: `api/categories/48/${ma_qh}/ward`, // API endpoint URL
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: data.result
                        };
                    },
                    cache: true
                }
            });
        });
        $("#select-district").select2();
        $("#select-ward").select2();
    }

    function renderFormatDate() {
        $('input[data-type="date"]').each(function () {
            $(this).datepicker({
                changeMonth: true,
                changeYear: true
            });
            $(this).datepicker("option", "dateFormat", 'dd/mm/yy');
        });
    }

    async function renderTabAndContentUI(id) {
        await $.ajax({
            url: `/api/asset-type/type/${id}/param`, // Replace with your API endpoint
            type: 'GET',
            headers: {
                'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
            },
            success: function (res) {
                // Render UI
                if (res.result) {
                    // Gán lại cho biển global
                    globalParams = res.result.params;

                    const params = res.result.params.reduce((acc, current) => {
                        const x = acc.find(item => item.ten_nhom_tham_so === current.ten_nhom_tham_so);
                        if (!x) {
                            return acc.concat([{ ten_nhom_tham_so: current.ten_nhom_tham_so, items: [current] }]);
                        } else {
                            x.items.push(current);
                            return acc;
                        }
                    }, []);

                    let subjectTAB = '';
                    let contentTAB = '';
                    params.forEach((element, index) => {
                        let guid = generateRandomString();
                        let active = index === 0 ? 'show active' : '';
                        // RENDER TAB
                        subjectTAB += `<button class="nav-link text-start ${active}" id="${guid}-tab" data-bs-toggle="pill"
                        data-bs-target="#${guid}" type="button" role="tab" aria-controls="${guid}"
                        aria-selected="${index === 0}">${element.ten_nhom_tham_so}</button>`;
                        // RENDER CONTENT
                        contentTAB += `<div class="tab-pane row fade ${active}" id="${guid}" role="tabpanel"
                        aria-labelledby="${guid}-tab">`;
                        element.items.forEach((par, index) => {
                            contentTAB += renderUIControl(par, res.result.id, res.result.ten_loai_ts);
                        });
                        contentTAB += `</div>`
                    });

                    $('#v-pills-tab')[0].innerHTML = subjectTAB;
                    $('#v-pills-tabContent')[0].innerHTML = contentTAB;
                }

                $('#step1Modal').modal('hide');
                $('#createTab1Modal').modal('show');
            },
            error: function (err) {
                // Handle error
                toastr.error(err.responseJSON?.error);
            }
        });
    }
</script>
{% endblock %}