{% extends "templates/base_index_v2.html" %}
{% block title %}{{ i18n('interface.public_building.title') }}{% endblock %}
{% block new_resource_label %}{{ i18n('interface.public_building.new_public_building') }}{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ utils.render_icon('house-door-fill') }}</li>
        <li class="breadcrumb-item active">Quản lý tài sản</li>
        <li class="breadcrumb-item" aria-current="page">Nhà công sản</li>
    </ol>
</nav>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='libs/select2/select2.min.js') }}"></script>
{% endblock %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='libs/select2/select2.min.css') }}" rel="stylesheet">
<style>
    /* @media (min-width: 576px) {
        .modal-dialog {
            max-width: 700px !important;
        }
    } */
</style>
{% endblock %}
{% block table %}
<ul class="nav nav-tabs w-100" id="tabNhaCongSan" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tabDuLieuChinh" data-bs-toggle="tab" data-bs-target="#tab-DuLieuChinh"
            data-target-modal="#createTab1Modal" type="button" role="tab" aria-controls="tab-DuLieuChinh"
            aria-selected="true">Ds nhà công sản</button>
    </li>
    <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="tabChoPheDuyet" data-bs-toggle="tab" data-bs-target="#tab-ChoPheDuyet"
            data-target-modal="#createTab2Modal" type="button" role="tab" aria-controls="tab-ChoPheDuyet"
            aria-selected="false">Ds chờ phê duyệt</button>
    </li> -->
</ul>
<div class="tab-content px-4 py-4">
    <div class="tab-pane fade show active" id="tab-DuLieuChinh" role="tabpanel" aria-labelledby="tab-DuLieuChinh">
        <table id="tableDuLieuChinh" class="display responsive">
            <thead>
                <tr>
                    <th>STT</th>
                    <th style="min-width: 100px;">Mã tài sản</th>
                    <th style="min-width: 175px;">Tên tài sản</th>
                    <th style="min-width: 200px;">Địa chỉ</th>
                    <th style="min-width: 142px;">Mã tờ thửa</th>
                    <th style="min-width: 142px;">Mã tờ đất</th>
                    <th>Ảnh/Văn bản</th>
                    <th style="min-width: 100px;">Ngày tạo</th>
                    <th class="text-center" style="min-width: 100px;">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="tab-ChoPheDuyet" role="tabpanel" aria-labelledby="tab-ChoPheDuyet">
        <!-- <table id="tableChoPheDuyet" class="display responsive">
            <thead>
                <tr>
                    <th>STT</th>
                    <th style="min-width: 175px;">Tên nhóm tham số</th>
                    <th style="min-width: 100px;">Thứ tự hiển thị</th>
                    <th style="min-width: 100px;">Ngày tạo</th>
                    <th class="text-center" style="min-width: 100px;">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table> -->
    </div>
</div>
{% endblock %}

{% block titleStep1Modal %}
Thêm mới dữ liệu nhà công sản
{% endblock %}
{% block bodyStep1Modal %}
<form id="dmPhanLoaiTSForm" class="row g-3 needs-validation" novalidate method="post">
    <div class="d-flex w-100 flex-column">
        <p class="text-center">Vui lòng lựa chọn danh mục phân loại tài sản cho nhà công sản.</p>
        <select id="select-phan-loai-ts" class="form-control w-100" name="ten_loai_ts"></select>
    </div>
</form>
{% endblock %}

{% block renderScripts %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // Init show modal create
        const createButton = document.getElementById('createModal');
        if (createButton) {
            createButton.setAttribute('data-bs-target', '#step1Modal')
        }

        $("#select-phan-loai-ts").select2({
            placeholder: 'Chọn danh mục phân loại tài sản...',
            minimumInputLength: 0, // Number of characters before AJAX request is made
            dropdownParent: $('#step1Modal'),
            ajax: {
                url: 'api/asset-type/type/categories/all', // API endpoint URL
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    return {
                        results: data.result
                    };
                },
                cache: true
            }
        });
    })

    $(document).ready(function () {
        // Validate lựa chọn danh mục phân loại tài sản
        $('#dmPhanLoaiTSForm').validate({
            rules: {
                ten_loai_ts: {
                    required: true
                }
            },
            messages: {
                ten_loai_ts: {
                    required: "Vui lòng nhập chọn danh mục.",
                }
            },
            errorClass: "is-invalid",
            validClass: "is-valid",
            errorElement: "div",
            errorPlacement: function (error, element) {
                if (element.hasClass('select2-hidden-accessible')) {
                    // Insert the error message after the Select2 container
                    error.addClass("invalid-feedback");
                    error.insertAfter(element.next('.select2-container'));
                } else {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass(errorClass).removeClass(validClass);
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').addClass(errorClass);
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass(errorClass).addClass(validClass);
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').removeClass(errorClass);
                }
            }
        });

        $('#step1Modal .btn-save').on('click', function () {
            if ($('#dmPhanLoaiTSForm').valid()) {
                // Collect form data
                // const formDataArray = $('#dmPhanLoaiTSForm').serializeArray();
                // const formData = {};
                // formDataArray.forEach(item => {
                //     formData[item.name] = item.value;
                // });
                // let checkedThamSos = $("#jstree_ds_tham_so").jstree().get_selected(true);
                // formData['ds_tham_so'] = checkedThamSos.filter(x => x.children.length === 0).map(x => x.id).join(',');
                // // Make AJAX call
                // let ajax_url = 'api/asset-type/type/create';
                // let ajax_type = 'POST';
                // let paramId = $('#loaiTSForm input[name="id"]').val();
                // // Tồn tại Id thì call api update
                // if (paramId) {
                //     ajax_url = `api/asset-type/type/update/${paramId}`;
                //     ajax_type = 'PUT';
                // }

                // $.ajax({
                //     url: ajax_url, // Replace with your API endpoint
                //     type: ajax_type,
                //     headers: {
                //         'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                //     },
                //     contentType: 'application/json', // Set content type to JSON
                //     data: JSON.stringify(formData), // Convert formData to JSON string
                //     success: function (res) {
                //         // Handle success
                //         toastr.success(res.message);
                //         // Optionally, close the modal or reset the form
                //         $('#createTab1Modal').modal('hide');
                //         // Reload datatable
                //         tableLoaiTS.ajax.reload(null, false);
                //     },
                //     error: function (err) {
                //         // Handle error
                //         toastr.error(err.error);
                //     }
                // });
            }
        });

        const fieldDuLieuChinh = [
            "stt",
            "ma_ts",
            "ten_ts",
            "dia_chi",
            "ma_to_thua",
            "ma_to_dat",
            "ds_file_dinh_kem",
            "ngay_tao",
            "tac_vu"
        ];

        let tableDuLieuChinh = new DataTable('#tableDuLieuChinh', {
            dom: 'rtlip',
            ordering: true,
            scrollY: 300,
            scrollX: true,
            scrollCollapse: true,
            processing: true,
            // serverSide: true,
            searching: { regex: true },
            pageLength: 10,
            responsive: false,
            pagingType: "simple_numbers",
            language: PBMSLang,
            order: [],
            data: [
                {
                    "ma_ts": "NDCS-20224303233",
                    "ten_ts": "Trường tiểu học An Khê",
                    "dia_chi": "K245 Trường Chinh, phường An Khê, Thanh Khê, Đà Nẵng",
                    "ma_to_thua": "30",
                    "ma_to_dat": "32",
                    "ds_file_dinh_kem": "",
                    "ngay_tao": "25/11/2024 10:12"
                },
                {
                    "ma_ts": "NDCS-20257336410",
                    "ten_ts": "BQL chợ Nguyễn Tri Phương",
                    "dia_chi": "KDC số 01 Nguyễn Tri Phương, phường Hòa Cường Bắc, Hải Châu, Đà Nẵng",
                    "ma_to_thua": "33",
                    "ma_to_dat": "64",
                    "ds_file_dinh_kem": "",
                    "ngay_tao": "12/10/2024 8:12"
                }
                , {
                    "ma_ts": "NDCS-202573256124",
                    "ten_ts": "Trường tiểu học Núi Thành",
                    "dia_chi": "Số 158 Ỷ Lan Nguyên Phi, phường Hòa Cường Bắc, Hải Châu, Đà Nẵng",
                    "ma_to_thua": "32",
                    "ma_to_dat": "561",
                    "ds_file_dinh_kem": "",
                    "ngay_tao": "02/11/2024 11:12"
                }
                , {
                    "ma_ts": "NDCS-20258687",
                    "ten_ts": "Trường THPT Nguyễn Hiền",
                    "dia_chi": "Số 61 Phan Đăng Lưu, phường Hòa Cường Nam, Hải Châu, Đà Nẵng",
                    "ma_to_thua": "6",
                    "ma_to_dat": "7",
                    "ds_file_dinh_kem": "",
                    "ngay_tao": "25/11/2024 10:12"
                }
            ],
            // ajax: {
            //     url: "api/public-land/page",
            //     type: "POST",
            //     contentType: 'application/json',
            //     dataType: "json",
            //     headers: {
            //         'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
            //     },
            //     data: function (d) {
            //         d.search.value = $('input[name=txt-search]').val();
            //         return JSON.stringify(d);
            //     },
            //     dataSrc: function (json) {
            //         json.recordsTotal = json.result.recordsTotal;
            //         json.recordsFiltered = json.result.recordsFiltered;
            //         return json.result.data;
            //     }
            // },
            initComplete: function () {

            },
            columnDefs: [
                { "defaultContent": "", "targets": "_all" },
                {
                    orderable: false, targets: getIdxFieldTable(fieldDuLieuChinh,
                        ['stt', 'ds_file_dinh_kem', 'ngay_tao', 'tac_vu'])
                },
                {
                    data: '',
                    targets: getIdxFieldTable(fieldDuLieuChinh, ['stt']),
                    render: function (data, type, full, meta) {
                        return meta.settings._iDisplayStart + meta.row + 1;
                    },
                },
                {
                    data: '',
                    targets: getIdxFieldTable(fieldDuLieuChinh, ['tac_vu']),
                    render: function (data, type, full, meta) {
                        return `<div class="btn-action text-center">
                                    <a class="btn btn-icon-edit" role="button" title="Sửa" onclick="showUpdateTab1Modal('${full.id}')">
                                        <span class="svg-icon svg-icon-edit"></span>    
                                    </a>    
                                    <a class="btn btn-icon-delete" role="button" onclick="showDeleteTab1Modal('${full.id}')">
                                        <span class="svg-icon svg-icon-delete" title="Xóa"></span>
                                    </a>    
                                </div>`
                    },
                },
            ],
            columns: [
                { className: 'noVis', targets: [0] },
                { data: 'ma_ts' },
                { data: 'ten_ts' },
                { data: 'dia_chi' },
                { data: 'ma_to_thua' },
                { data: 'ma_to_dat' },
                { data: 'ds_file_dinh_kem' },
                { data: 'ngay_tao' },
                { className: 'noVis' },
            ]
        });
    })
</script>
{% endblock %}