{% extends "templates/base_index_v2.html" %}
{% block title %}{{ i18n('interface.map_data_analytics.title') }}{% endblock %}
{% block new_resource_label %}{{ i18n('interface.map_data_analytics.new_map_data_analytics') }}{% endblock %}
{%- block styles %}
{{ super() }}
<style>
    #createModal {
        display: none;
    }

    .wrapper-filter-search {
        display: none !important;
    }
</style>
{%- endblock styles %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ utils.render_icon('house-door-fill') }}</li>
        <li class="breadcrumb-item" aria-current="page">{{ i18n('interface.map_data_analytics.title') }}</li>
    </ol>
</nav>
{% endblock %}
{% block table %}
<div class="webview-container">
    <iframe
        src="/map_viewer?t=DaNang_PBM_Shpfile&l=edit_polygons%2Cedit_points%2Cedit_lines%2CNHA_CS_METADATA%2CDAT_CS_METADATA%2COpenStreetMap&bl=&c=12043404%2C1810885&s=20000"
        width="100%" height="600px" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}