{% extends "templates/base_index_v2.html" %}
{% block title %}{{ i18n('interface.map_data_analytics.title') }}{% endblock %}
{% block new_resource_label %}{{ i18n('interface.map_data_analytics.new_map_data_analytics') }}{% endblock %}
{%- block styles %}
{{ super() }}
<style>
    #createModal {
        display: none;
    }

    .wrapper-filter-search {
        display: none !important;
    }
</style>
{%- endblock styles %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ utils.render_icon('house-door-fill') }}</li>
        <li class="breadcrumb-item" aria-current="page">{{ i18n('interface.map_data_analytics.title') }}</li>
    </ol>
</nav>
{% endblock %}
{% block table %}
<div class="webview-container">
    <iframe
        src="http://localhost:8088/?t=Demo_ChauVanLiem&l=DGT_CVL_Region%2CThuaDat_DacTinhGia_20112024_Region&bl=&c=11759751%2C1131542&s=10000"
        width="100%" height="600px" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}