{% extends "templates/base_index_v2.html" %}
{% block title %}{{ i18n('interface.public_land.title') }}{% endblock %}
{% block new_resource_label %}{{ i18n('interface.public_land.new_public_land') }}{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ utils.render_icon('house-door-fill') }}</li>
        <li class="breadcrumb-item active">Quản lý tài sản</li>
        <li class="breadcrumb-item" aria-current="page">Đất công</li>
    </ol>
</nav>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='libs/select2/select2.min.js') }}"></script>
{% endblock %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='libs/select2/select2.min.css') }}" rel="stylesheet">
<style>
    .select2-container {
        width: 100% !important;
    }

    @media (min-width: 576px) {
        #createTab1Modal .modal-dialog {
            max-width: 1000px !important;
        }

        #historyEditModal .modal-dialog {
            max-width: 700px !important;
        }
    }
</style>
{% endblock %}
{% block table %}
<ul class="nav nav-tabs w-100" id="tabDatCong" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tabDuLieuChinh" data-bs-toggle="tab" data-bs-target="#tab-DuLieuChinh"
            data-target-modal="#createTab1Modal" type="button" role="tab" aria-controls="tab-DuLieuChinh"
            aria-selected="true">Ds tài sản</button>
    </li>
    <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="tabChoPheDuyet" data-bs-toggle="tab" data-bs-target="#tab-ChoPheDuyet"
            data-target-modal="#createTab2Modal" type="button" role="tab" aria-controls="tab-ChoPheDuyet"
            aria-selected="false">Ds chờ phê duyệt</button>
    </li> -->
</ul>
<div class="tab-content px-4 py-4">
    <div class="tab-pane fade show active" id="tab-DuLieuChinh" role="tabpanel" aria-labelledby="tab-DuLieuChinh">
        <table id="tableDuLieuChinh" class="display responsive">
            <thead>
                <tr>
                    <th>STT</th>
                    <th style="min-width: 200px;">Mã tài sản</th>
                    <th style="min-width: 175px;">Tên tài sản</th>
                    <th style="min-width: 200px;">Địa chỉ</th>
                    <th style="min-width: 100px;">Số tờ</th>
                    <th style="min-width: 100px;">Số thửa</th>
                    <th style="min-width: 142px;">Diện tích (m2)</th>
                    <th style="min-width: 100px;">Hiện trạng <br> sử dụng</th>
                    <th style="min-width: 200px;">Ảnh/Văn bản</th>
                    <th style="min-width: 100px;">Ngày tạo</th>
                    <th class="text-center" style="min-width: 100px;">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="tab-ChoPheDuyet" role="tabpanel" aria-labelledby="tab-ChoPheDuyet">
        <!-- <table id="tableChoPheDuyet" class="display responsive">
            <thead>
                <tr>
                    <th>STT</th>
                    <th style="min-width: 175px;">Tên nhóm tham số</th>
                    <th style="min-width: 100px;">Thứ tự hiển thị</th>
                    <th style="min-width: 100px;">Ngày tạo</th>
                    <th class="text-center" style="min-width: 100px;">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table> -->
    </div>
</div>
{% endblock %}

{% block bodyCreateTab1Modal %}
<ul class="nav nav-tabs w-100" id="tabDuLieuChinhModal" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tabDuLieuModal" data-bs-toggle="tab" data-bs-target="#tab-DuLieuModal"
            type="button" role="tab" aria-controls="tab-DuLieuModal" aria-selected="true">Dữ liệu</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tabBanDoModal" data-bs-toggle="tab" data-bs-target="#tab-BanDoModal" type="button"
            role="tab" aria-controls="tab-BanDoModal" aria-selected="false">Bản đồ</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tabHistoryModal" data-bs-toggle="tab" data-bs-target="#tab-HistoryModal"
            type="button" role="tab" aria-controls="tab-HistoryModal" aria-selected="false">Lịch sử thay đổi</button>
    </li>
</ul>
<div class="tab-content px-4 py-4">
    <div class="tab-pane fade show active" id="tab-DuLieuModal" role="tabpanel" aria-labelledby="tab-DuLieuModal">
        <form id="duLieuChinhForm" class="row g-3 needs-validation" novalidate method="post">
            <input type="text" name="id" hidden />
            <input type="text" name="lyDoChinhSuaID" hidden />
            <input type="text" name="lyDoChinhSuaTEXT" hidden />
            <div class="col-md-5">
                <label for="ma_dat" class="form-label">Mã tài sản:<span class="required">*</span></label>
                <input type="text" class="form-control" name="ma_dat" required disabled>
            </div>
            <div class="col-md-7">
                <label for="ten_dat" class="form-label">Tên tài sản:<span class="required">*</span></label>
                <input type="text" class="form-control" name="ten_dat" required>
            </div>
            <!-- <div class="col-md-6">
                <label for="don_vi_quan_ly_id" class="form-label">Đơn vị quản lý:</label>
                <select id="select-don-vi-quan-ly" class="form-control w-100" name="don_vi_quan_ly_id"></select>
            </div> -->
            <div class="col-md-6">
                <label for="hien_trang_sd_id" class="form-label">Hiện trạng sử dụng:<span
                        class="required">*</span></label>
                <select id="select-hien-trang-sd" class="form-control w-100" name="hien_trang_sd_id"></select>
            </div>
            <div class="col-md-2">
                <label for="so_to" class="form-label">Số tờ:<span class="required">*</span></label>
                <input type="number" name="so_to" class="form-control" />
            </div>
            <div class="col-md-2">
                <label for="so_thua" class="form-label">Số thửa:<span class="required">*</span></label>
                <input type="number" name="so_thua" class="form-control" />
            </div>
            <div class="col-md-2">
                <label for="dien_tich" class="form-label">Diện tích (m2):</label>
                <input type="number" name="dien_tich" class="form-control" />
            </div>
            <div class="col-md-3">
                <label for="dia_chi" class="form-label">Địa chỉ:<span class="required">*</span></label>
                <input type="text" class="form-control" name="dia_chi" required>
            </div>
            <div class="col-md-3">
                <label for="ma_tp" class="form-label">Tỉnh/TP:<span class="required">*</span></label>
                <select id="select-province" class="form-control w-100" name="ma_tp"></select>
            </div>
            <div class="col-md-3">
                <label for="ma_qh" class="form-label">Quận/Huyện:<span class="required">*</span></label>
                <select id="select-district" class="form-control w-100" name="ma_qh"></select>
            </div>
            <div class="col-md-3">
                <label for="ma_px" class="form-label">Phường/Xã:<span class="required">*</span></label>
                <select id="select-ward" class="form-control w-100" name="ma_px"></select>
            </div>
            <div class="col-md-12">
                <label for="ds_file_dinh_kem" class="form-label w-100">Ảnh / Văn bản đính kèm:</label>
                <a class="btn btn-default btn-upload w-25"
                    onclick="document.querySelector(`input[name='ds_file_dinh_kem']`).click();">
                    {{ utils.render_icon('upload') }} Tải lên
                </a>
                <input type="text" name="ds_file_dinh_kem_info" hidden />
                <input type="file" class="form-control" name="ds_file_dinh_kem"
                    accept=".xlsx,.xls,.png,.jpeg,.jpg,.doc,.docx,.pdf" multiple lang="vi" hidden>
                <ul id="fileListNew"></ul>
                <ul id="fileListOld"></ul>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="tab-BanDoModal" role="tabpanel" aria-labelledby="tab-BanDoModal">
        <iframe id="iframe-map"
            src="/map_viewer/?t=DaNang_PBM_Shpfile_v2&l=edit_polygons%2CDaNang_PBM_Shpfile%20—%20DAT_CS_METADATA%2CDaNang_PBM_Shpfile%20—%20NHA_CS_METADATA%2COpenStreetMap&bl=&c=12042746%2C1810986&s=20000"
            width="100%" height="600px" frameborder="0" allowfullscreen
            sandbox="allow-scripts allow-same-origin allow-top-navigation allow-forms allow-popups allow-pointer-lock allow-popups-to-escape-sandbox"></iframe>
    </div>
    <div class="tab-pane fade" id="tab-HistoryModal" role="tabpanel" aria-labelledby="tab-HistoryModal">
        <p class="text-center">Không có dữ liệu.</p>
    </div>
</div>
{% endblock %}
{% block addNewModal %}
<div class="modal fade" id="chonLyDoCapNhatDuLieuModal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
    aria-labelledby="chonLyDoCapNhatDuLieuModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Cập nhật dữ liệu
                </h5>
            </div>
            <div class="modal-body my-2">
                <div class="d-flex justify-content-center">
                    <form id="lyDoCapNhatDuLieuForm" class="row g-3 needs-validation" novalidate method="post">
                        <div class="d-flex w-100 flex-column">
                            <p class="text-center">Vui lòng lựa chọn lý do cập nhật dữ liệu.</p>
                            <select id="select-lyDoCapNhatDuLieu" class="form-control w-100"
                                name="selectLyDoCapNhatDuLieu"></select>
                        </div>
                    </form>
                </div>
                <div class="d-flex m-4" id="select-content-detail"></div>
                <div class="d-flex justify-content-center mt-4" style="gap: 10px;">
                    <button type="button" class="btn btn-theme btn-lyDoCapNhatDuLieu-next"
                        onclick="showUpdateTab1Modal()">{{ utils.render_icon('arrow-right') }}
                        Tiếp
                        tục</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{
                        utils.render_icon('x-circle') }}
                        Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fileDinhKemModal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
    aria-labelledby="fileDinhKemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Danh sách file ảnh / văn bản
                </h5>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{
                        utils.render_icon('x-circle') }}
                        Thoát</button>
                </div>
            </div>
            <div class="modal-body my-2">
                <ul id="lstFileDinhKiemModal"></ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="historyEditModal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
    aria-labelledby="historyEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Lịch sử chỉnh sửa
                </h5>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{
                        utils.render_icon('x-circle') }}
                        Thoát</button>
                </div>
            </div>
            <div class="modal-body my-2">
                <div class="content-history"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block renderScripts %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        $('#createTab1Modal').on('shown.bs.modal', function () {
            // get danh mục
            let id = $('#createTab1Modal input[name="id"]').val();
            //
            const iframe = document.getElementById('iframe-map');
            const currentUrl = new URL(iframe.src);
            if (!id) {
                $('#createTab1Modal .modal-title').html('Thêm mới dữ liệu');
                // Nếu là thêm mới thì tự động gợi ý mã tài sản
                const timestamp = Math.floor(Date.now() / 1000);
                let valMaTaiSan = `NDCS-${new Date().getFullYear()}${timestamp}`;
                $('#createTab1Modal input[name="ma_dat"]').val(valMaTaiSan);
            } else {
                getDetailHistoryById(id);
            }

            // UPdate url iframe bản đồ
            currentUrl.searchParams.set('st', $('#createTab1Modal input[name="ma_dat"]').val());
            // Cập nhật src của iframe
            iframe.src = currentUrl.toString();


            $("#select-don-vi-quan-ly").select2({
                placeholder: 'Chọn đơn vị quản lý...',
                allowClear: true,
                minimumInputLength: 0, // Number of characters before AJAX request is made
                escapeMarkup: function (m) { return m; },
                dropdownParent: $('#createTab1Modal'),
                ajax: {
                    url: 'api/units/all', // API endpoint URL
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: data.result
                        };
                    },
                    cache: true
                }
            });

            $("#select-hien-trang-sd").select2({
                placeholder: 'Chọn hiện trạng sử dụng...',
                // allowClear: true,
                minimumInputLength: 0, // Number of characters before AJAX request is made
                escapeMarkup: function (m) { return m; },
                dropdownParent: $('#createTab1Modal'),
                ajax: {
                    url: 'api/categories/HTSD/all', // ma_nhom: HTSD | Hiện trạng sử dụng
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: data.result
                        };
                    },
                    cache: true
                }
            });

            $('#select-don-vi-quan-ly').on('select2:clear', function () {
                console.log('Selection cleared!');
            });

            $("#select-province").select2({
                placeholder: 'Chọn Tỉnh/TP...',
                allowClear: true,
                minimumInputLength: 0, // Number of characters before AJAX request is made
                dropdownParent: $('#createTab1Modal'),
                ajax: {
                    url: 'api/categories/province', // API endpoint URL
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: data.result
                        };
                    },
                    cache: true
                }
            });

            $('#select-province').on('select2:select', function (e) {
                // Do something
                let ma_tp = e.target.value;
                $("#select-district").select2({
                    placeholder: 'Chọn Quận Huyện...',
                    allowClear: true,
                    minimumInputLength: 0, // Number of characters before AJAX request is made
                    dropdownParent: $('#createTab1Modal'),
                    ajax: {
                        url: `api/categories/${ma_tp}/district`, // API endpoint URL
                        dataType: 'json',
                        delay: 250,
                        processResults: function (data) {
                            return {
                                results: data.result
                            };
                        },
                        cache: true
                    }
                });
            });
            $('#select-district').on('select2:select', function (e) {
                // Do something
                let ma_qh = e.target.value;
                $("#select-ward").select2({
                    placeholder: 'Chọn Phường Xã...',
                    allowClear: true,
                    minimumInputLength: 0, // Number of characters before AJAX request is made
                    dropdownParent: $('#createTab1Modal'),
                    ajax: {
                        url: `api/categories/48/${ma_qh}/ward`, // API endpoint URL
                        dataType: 'json',
                        delay: 250,
                        processResults: function (data) {
                            return {
                                results: data.result
                            };
                        },
                        cache: true
                    }
                });
            });
            $("#select-district").select2();
            $("#select-ward").select2();
        });

        $('#createTab1Modal').on('hide.bs.modal', function () {
            $('#tab-HistoryModal').html('');
            $('.btn-save').show();
            $('#duLieuChinhForm')[0].reset();
            $('#select-province').val(null).trigger('change');
            $('#select-district').val(null).trigger('change');
            $('#select-ward').val(null).trigger('change');
            $('#select-don-vi-quan-ly').val(null).trigger('change');
            $('#select-hien-trang-sd').val(null).trigger('change');
            $('#fileListNew').html('');
            $('#fileListOld').html('');
        })

        // Load danh mục lý do cập nhật dữ liệu
        $("#select-lyDoCapNhatDuLieu").select2({
            placeholder: 'Chọn lý do cập nhật dữ liệu...',
            // allowClear: true,
            minimumInputLength: 0, // Number of characters before AJAX request is made
            dropdownParent: $('#chonLyDoCapNhatDuLieuModal'),
            ajax: {
                url: 'api/categories/LyDoCapNhatDL/all', // ma_nhom: HTSD | Hiện trạng sử dụng
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    return {
                        results: data.result
                    };
                },
                cache: true
            }
        });

        // MODAL Lý do cập nhật dữ liệu
        $('#chonLyDoCapNhatDuLieuModal').on('shown.bs.modal', function () {
            // TODO
        })

        $('#chonLyDoCapNhatDuLieuModal').on('hide.bs.modal', function () {
            $('#lyDoCapNhatDuLieuForm')[0].reset();
            $('#select-lyDoCapNhatDuLieu').val(null).trigger('change');
        })


        $('#fileDinhKemModal').on('hide.bs.modal', function () {
            $('#lstFileDinhKiemModal').html(null);
        })
    })

    dmHienTrangSD = [];

    $(document).ready(function () {
        getCategories();
        // Search data
        $('.btn-search').on('click', function () {
            tableDuLieuChinh.ajax.reload(null, false);
        })

        $('#input-search').on('keydown', function (e) {
            if (event.key === "Enter" || event.keyCode === 13) {
                tableDuLieuChinh.ajax.reload(null, false);
            }
        })
        // Tab Ds dữ liệu chính     
        const fieldDuLieuChinh = [
            "stt",
            "ma_dat",
            "ten_dat",
            "full_dia_chi",
            "so_to",
            "so_thua",
            "dien_tich",
            "ten_hien_trang_sd",
            "ds_file_dinh_kem_info",
            "ngay_tao",
            "tac_vu"
        ];

        let tableDuLieuChinh = new DataTable('#tableDuLieuChinh', {
            dom: 'rtlip',
            ordering: true,
            scrollY: 300,
            scrollX: true,
            scrollCollapse: true,
            processing: true,
            serverSide: true,
            searching: { regex: true },
            pageLength: 10,
            responsive: false,
            pagingType: "simple_numbers",
            language: PBMSLang,
            order: [],
            ajax: {
                url: "api/public-land/page",
                type: "POST",
                contentType: 'application/json',
                dataType: "json",
                headers: {
                    'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                },
                data: function (d) {
                    d.search.value = $('input[name=txt-search]').val();
                    return JSON.stringify(d);
                },
                dataSrc: function (json) {
                    json.recordsTotal = json.result.recordsTotal;
                    json.recordsFiltered = json.result.recordsFiltered;
                    return json.result.data;
                }
            },
            initComplete: function () {

            },
            columnDefs: [
                { "defaultContent": "", "targets": "_all" },
                {
                    orderable: false, targets: getIdxFieldTable(fieldDuLieuChinh,
                        ['stt', 'ten_hien_trang_sd', 'full_dia_chi',
                            'ds_file_dinh_kem_info', 'dien_tich', 'ngay_tao', 'tac_vu'])
                },
                {
                    data: '',
                    targets: getIdxFieldTable(fieldDuLieuChinh, ['stt']),
                    render: function (data, type, full, meta) {
                        return meta.settings._iDisplayStart + meta.row + 1;
                    },
                },
                {
                    data: 'ds_file_dinh_kem_info',
                    targets: getIdxFieldTable(fieldDuLieuChinh, ['ds_file_dinh_kem_info']),
                    render: function (data, type, full, meta) {
                        const files = data && data !== '' ? JSON.parse(data) : null;
                        return `<a class="btn btn-default btn-upload" onclick='clickShowFiles(${JSON.stringify(data)})'>
                                        {{ utils.render_icon('link-45deg') }} File đính kèm (${files?.length || 0})
                                    </a>`;
                    }
                },
                {
                    data: '',
                    targets: getIdxFieldTable(fieldDuLieuChinh, ['tac_vu']),
                    render: function (data, type, full, meta) {
                        return `<div class="btn-action text-center">
                                    <a class="btn btn-icon-view" role="button" title="Xem chi tiết" onclick="showDetailTab1Modal('${full.id}')">
                                        <span class="svg-icon svg-icon-view"></span>    
                                    </a>
                                    <a class="btn btn-icon-edit" role="button" title="Sửa" onclick="showLyDoCapNhatDuLieuModal('${full.id}')">
                                        <span class="svg-icon svg-icon-edit"></span>    
                                    </a>    
                                    <a class="btn btn-icon-delete" role="button" onclick="showDeleteTab1Modal('${full.id}')">
                                        <span class="svg-icon svg-icon-delete" title="Xóa"></span>
                                    </a>    
                                </div>`
                    },
                },
            ],
            columns: [
                { className: 'noVis', targets: [0] },
                { data: 'ma_dat' },
                { data: 'ten_dat' },
                { data: 'full_dia_chi' },
                { data: 'so_to' },
                { data: 'so_thua' },
                { data: 'dien_tich' },
                { data: 'ten_hien_trang_sd' },
                { data: 'ds_file_dinh_kem_info' },
                { data: 'ngay_tao' },
                { className: 'noVis' },
            ]
        });

        $('#duLieuChinhForm').validate({
            rules: {
                ma_dat: {
                    required: true,
                    maxlength: 50
                },
                ten_dat: {
                    required: true,
                    maxlength: 256
                },
                so_to: {
                    required: true,
                },
                so_thua: {
                    required: true,
                },
                hien_trang_sd_id: {
                    required: true,
                },
                dia_chi: {
                    required: true,
                    maxlength: 500
                },
                ma_px: {
                    required: true,
                },
                ma_qh: {
                    required: true,
                },
                ma_tp: {
                    required: true,
                }
            },
            messages: {
                ma_dat: {
                    required: "Vui lòng nhập mã tài sản.",
                    maxlength: "Tên nhóm tham số có độ dài tối đa 50 kí tự."
                },
                ten_dat: {
                    required: "Vui lòng nhập tên tài sản.",
                    maxlength: "Tên nhóm tham số có độ dài tối đa 256 kí tự."
                },
                hien_trang_sd_id: {
                    required: "Vui lòng chọn hiện trạng sử dụng.",
                },
                dia_chi: {
                    required: "Vui lòng nhập địa chỉ.",
                    maxlength: "Tên nhóm tham số có độ dài tối đa 500 kí tự."
                },
                so_to: {
                    required: "Vui lòng nhập số tờ.",
                },
                so_thua: {
                    required: "Vui lòng nhập số thửa.",
                },
                ma_px: {
                    required: "Vui lòng chọn Phường/Xã.",
                },
                ma_qh: {
                    required: "Vui lòng chọn Quận/Huyện.",
                },
                ma_tp: {
                    required: "Vui lòng chọn Tỉnh/TP.",
                },
            },
            errorClass: "is-invalid",
            validClass: "is-valid",
            errorElement: "div",
            errorPlacement: function (error, element) {
                if (element.hasClass('select2-hidden-accessible')) {
                    // Insert the error message after the Select2 container
                    error.addClass("invalid-feedback");
                    error.insertAfter(element.next('.select2-container'));
                } else {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass(errorClass).removeClass(validClass);
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').addClass(errorClass);
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass(errorClass).addClass(validClass);
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').removeClass(errorClass);
                }
            }
        });


        // Khi dữ liệu file thay đổi hiển thị lại preview
        $('#createTab1Modal input[name="ds_file_dinh_kem"]').on('change', function (e) {
            const files = e.target.files;
            if (files.length > 0) {
                // Check kích thước lớn hơn 5MB (5242880 Bytes)
                const files5MB = Array.from(files).filter(x => x.size > 5 * 1024 * 1024);
                if (files5MB.length > 0) {
                    $('#createTab1Modal input[name="ds_file_dinh_kem"]').val(null);
                    toastr.error('File upload không được vượt quá 5MB.');
                }
            }
            renderPreviewFileUploadNew(files);
        })

        $('#createTab1Modal .btn-save').on('click', function () {
            if ($('#duLieuChinhForm').valid()) {
                // Collect form data
                const formData = new FormData($('#duLieuChinhForm')[0]);
                formData.append('ma_dat', $('input[name="ma_dat"]').val());
                if ($("#select-province").val())
                    formData.append('ten_tp', $("#select-province").select2('data')[0].text);
                if ($("#select-district").val())
                    formData.append('ten_qh', $("#select-district").select2('data')[0].text);
                if ($("#select-ward").val())
                    formData.append('ten_px', $("#select-ward").select2('data')[0].text);
                formData.append('don_vi_quan_ly_id', $("#select-don-vi-quan-ly").val());
                formData.append('hien_trang_sd_id', $("#select-hien-trang-sd").val());

                // Check upload file
                // const fileUploads = document.querySelector('input[name="ds_file_dinh_kem"]');
                // const files = fileUploads.files;
                // for (var i = 0; i <script files.length; i++) {
                //     formData.append('ds_file_dinh_kem', files[i]);
                // }

                // Make AJAX call
                let ajax_url = 'api/public-land/create';
                let ajax_type = 'POST';
                let paramId = $('#duLieuChinhForm input[name="id"]').val();
                // Tồn tại Id thì call api update
                if (paramId) {
                    ajax_url = `api/public-land/update/${paramId}`;
                    ajax_type = 'PUT';
                }

                $.ajax({
                    url: ajax_url, // Replace with your API endpoint
                    type: ajax_type,
                    headers: {
                        'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                    },
                    contentType: false, // Set content type to false for FormData
                    processData: false, // Prevent jQuery from setting the Content-Type header
                    data: formData, // Use FormData directly
                    success: function (res) {
                        // Handle success
                        toastr.success(res.message);
                        // Optionally, close the modal or reset the form
                        $('#createTab1Modal').modal('hide');
                        // Reload datatable
                        tableDuLieuChinh.ajax.reload(null, false);
                    },
                    error: function (err) {
                        // Handle error
                        toastr.error(err.error);
                    }
                });
            }
        });

        window.showLyDoCapNhatDuLieuModal = function (id) {
            $('#chonLyDoCapNhatDuLieuModal').modal('show');
            $('#select-lyDoCapNhatDuLieu').attr('data-row-id', id);
        }

        window.showDetailTab1Modal = function (id) {
            getDetailDatById(id, 'VIEW');
        }

        window.showUpdateTab1Modal = function () {
            // Khởi tạo validate form
            $('#lyDoCapNhatDuLieuForm').validate({
                rules: {
                    selectLyDoCapNhatDuLieu: {
                        required: true,
                    }
                },
                messages: {
                    selectLyDoCapNhatDuLieu: {
                        required: "Vui lòng chọn lý do.",
                    }
                },
                errorClass: "is-invalid",
                validClass: "is-valid",
                errorElement: "div",
                errorPlacement: function (error, element) {
                    if (element.hasClass('select2-hidden-accessible')) {
                        // Insert the error message after the Select2 container
                        error.addClass("invalid-feedback");
                        error.insertAfter(element.next('.select2-container'));
                    } else {
                        error.addClass("invalid-feedback");
                        error.insertAfter(element);
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass(errorClass).removeClass(validClass);
                    if ($(element).hasClass('select2-hidden-accessible')) {
                        $(element).next('.select2-container').addClass(errorClass);
                    }
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass(errorClass).addClass(validClass);
                    if ($(element).hasClass('select2-hidden-accessible')) {
                        $(element).next('.select2-container').removeClass(errorClass);
                    }
                }
            });

            if ($('#lyDoCapNhatDuLieuForm').valid()) {
                let valLyDoCapNhatDL = $("#select-lyDoCapNhatDuLieu").select2('data')[0].id;
                let textLyDoCapNhatDL = $("#select-lyDoCapNhatDuLieu").select2('data')[0].text;
                $('#duLieuChinhForm [name="lyDoChinhSuaID"]').val(valLyDoCapNhatDL);
                $('#duLieuChinhForm [name="lyDoChinhSuaTEXT"]').val(textLyDoCapNhatDL);
                // Ẩn modal Chọn lý do cập nhật dữ liệu
                $('#chonLyDoCapNhatDuLieuModal').modal('hide');
                const rowID = $('#select-lyDoCapNhatDuLieu').attr('data-row-id');
                // Show modal detail cập nhật dữ liệu
                getDetailDatById(rowID, 'EDIT');
            }
        }

        window.showDeleteTab1Modal = function (id) {
            // Show confirmation modal
            $('#deleteTab1Modal').modal('show');
            // Set the delete button action
            $('#deleteTab1Modal .btn-delete').off('click').on('click', function () {
                // Make AJAX call to delete the item
                $.ajax({
                    url: `api/public-land/delete/${id}`, // Replace with your API endpoint
                    type: 'DELETE',
                    headers: {
                        'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
                    },
                    success: function (res) {
                        // Handle success
                        toastr.success(res.message);
                        // Close the modal
                        $('#deleteTab1Modal').modal('hide');
                        // Reload datatable
                        tableDuLieuChinh.ajax.reload(null, false);
                    },
                    error: function (err) {
                        // Handle error
                        toastr.error(err.responseJSON?.error);
                        // Close the modal
                        $('#deleteTab1Modal').modal('hide');
                    }
                });
            });
        }
    })

    function getDetailDatById(id, action = 'EDIT') {
        $.ajax({
            url: `api/public-land/detail/${id}`, // Replace with your API endpoint
            type: 'GET',
            headers: {
                'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
            },
            success: async function (res) {
                const data = res.result;
                $('#duLieuChinhForm [name="id"]').val(data.id);
                $('#duLieuChinhForm [name="ma_dat"]').val(data.ma_dat);
                $('#duLieuChinhForm [name="ten_dat"]').val(data.ten_dat);
                $('#duLieuChinhForm [name="so_to"]').val(data.so_to);
                $('#duLieuChinhForm [name="so_thua"]').val(data.so_thua);
                $('#duLieuChinhForm [name="dien_tich"]').val(data.dien_tich);
                $('#duLieuChinhForm [name="ds_file_dinh_kem_info"]').val(data.ds_file_dinh_kem_info);
                $('#duLieuChinhForm [name="dia_chi"]').val(data.dia_chi);
                // Trigger validation on each field to show feedback
                // Get all param
                if (data.don_vi_quan_ly_id && data.don_vi_quan_ly_id !== '') {
                    $('#select-don-vi-quan-ly').append(new Option(data.ten_don_vi_quan_ly, data.don_vi_quan_ly_id, true, true)).trigger('change');
                }
                if (data.hien_trang_sd_id && data.hien_trang_sd_id !== '') {
                    $('#select-hien-trang-sd').append(new Option(data.ten_hien_trang_sd, data.hien_trang_sd_id, true, true)).trigger('change');
                }
                $('#select-province').append(new Option(data.ten_tp, data.ma_tp, true, true)).trigger('change');
                $('#select-district').append(new Option(data.ten_qh, data.ma_qh, true, true)).trigger('change');
                $('#select-ward').append(new Option(data.ten_px, data.ma_px, true, true)).trigger('change');
                $('#duLieuChinhForm').validate().form();
                renderPreviewFileUploadOld(data.ds_file_dinh_kem_info, action);
                // Show confirmation modal
                $('#createTab1Modal').modal('show');
                if (action === 'VIEW') {
                    $('#createTab1Modal .modal-title').html('Xem chi tiết dữ liệu');
                    $('.btn-save').hide()
                } else {
                    $('#createTab1Modal .modal-title').html('Cập nhật dữ liệu');
                }
            },
            error: function (err) {
                // Handle error
                toastr.error(err.responseJSON?.error);
            }
        });
    }

    function renderPreviewFileUploadNew(files, action = 'VIEW') {
        const fileListNew = document.getElementById("fileListNew");
        fileListNew.innerHTML = ""; // Clear any previous entries
        for (const file of files) {
            const listItem = document.createElement("li");

            const linkItem = document.createElement("a");
            linkItem.href = `#`;
            linkItem.text = file.name;
            linkItem.style.textDecoration = "none";
            listItem.appendChild(linkItem);

            if (action !== 'VIEW') {
                const removeLink = document.createElement("a");
                removeLink.href = "#";
                removeLink.textContent = "(Xóa)";
                removeLink.style.color = "red";
                removeLink.style.marginLeft = "10px";
                removeLink.style.textDecoration = "none";
                removeLink.style.cursor = "pointer";
                removeLink.onclick = function (event) {
                    event.preventDefault();
                    listItem.remove();
                };
                listItem.appendChild(removeLink);
            }

            fileListNew.appendChild(listItem);
        }
    }

    function renderPreviewFileUploadOld(lstFile, action = 'VIEW') {
        const fileListOld = document.getElementById("fileListOld");
        const files = JSON.parse(lstFile);
        let resFiles = files;
        if (!resFiles) return;
        for (const file of files) {
            const listItem = document.createElement("li");

            const linkItem = document.createElement("a");
            linkItem.href = `/${file.file_url}`;
            linkItem.text = file.file_name;
            linkItem.style.textDecoration = "none";
            linkItem.target = '_blank';
            listItem.appendChild(linkItem);

            if (action !== 'VIEW') {
                const removeLink = document.createElement("a");
                removeLink.href = "#";
                removeLink.textContent = "(Xóa)";
                removeLink.style.color = "red";
                removeLink.style.marginLeft = "10px";
                removeLink.style.textDecoration = "none";
                removeLink.style.cursor = "pointer";
                removeLink.setAttribute("data-id", file.id);
                removeLink.onclick = function (event) {
                    event.preventDefault();
                    const fileId = removeLink.getAttribute("data-id");
                    resFiles = resFiles.filter(x => x.id !== fileId);
                    $('input[name="ds_file_dinh_kem_info"]').val(JSON.stringify(resFiles))
                    listItem.remove();
                };
                listItem.appendChild(removeLink);
            }

            fileListOld.appendChild(listItem);
        }
    }

    function clickShowFiles(files) {
        $('#lstFileDinhKiemModal').html('');
        const formatValue = files && files !== '' ? JSON.parse(files) : null;
        if (formatValue && formatValue.length > 0) {
            for (let item of formatValue) {
                $('#lstFileDinhKiemModal').append(`<li><a target="_blank" href="/${item.file_url}">${item.file_name}</a></li>`);
            }
        } else {
            $('#lstFileDinhKiemModal').html('<p class="text-center">Không có file đính kèm.</p>');
        }
        $('#fileDinhKemModal').modal('show');
    }

    function getDetailHistoryById(id) {
        // Lấy danh sách lịch sử chỉnh sửa
        $.ajax({
            url: `api/public-land/history-edit/${id}`, // Replace with your API endpoint
            type: 'GET',
            headers: {
                'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
            },
            success: function (res) {
                const data = res.result;
                renderContentHistoryEdit(data);
            },
            error: function (err) {
                // Handle error
                toastr.error(err.responseJSON?.error);
            }
        });
    }

    function renderContentHistoryEdit(data) {
        $('#tab-HistoryModal').html('');
        if (data.length > 0) {
            let content = '';
            Array.from(data).forEach((item, idx) => {
                const valDiffs = compare2Object(JSON.parse(item.du_lieu_cu), JSON.parse(item.du_lieu_moi));
                console.log(valDiffs);
                content += renderContentHistory(item, valDiffs, data.length - idx);
            });
            $('#tab-HistoryModal').html(content);
        } else {
            $('#tab-HistoryModal').html(`<p class="text-center">Không có dữ liệu.</p>`);
        }
    }

    const ignoreFields = [
        "ngay_tao",
        "nguoi_tao",
        "ngay_sua",
        "nguoi_sua",
        "ngay_xoa",
        "nguoi_xoa",
        "trang_thai_xoa",
        "ds_file_dinh_kem_info",
        "hien_trang_su_dung_id",
        "ma_px",
        "ma_qh",
        "ma_tp"
    ]

    const labelFields = {
        "ma_dat": "Mã tài sản",
        "ten_dat": "Tên tài sản",
        "don_vi_quan_ly_id": "Đơn vị quản lý",
        "hien_trang_sd_id": "Hiện trạng sử dụng",
        "dien_tich": "Diện tích",
        "so_to": "Số tờ",
        "so_thua": "Số thửa",
        "dia_chi": "Địa chỉ",
        "ten_px": "Phường/Xã",
        "ten_qh": "Quận/Huyện",
        "ten_tp": "Tỉnh/TP",
        "ds_file_dinh_kem": "Ảnh/Văn bản"
    }

    function compare2Object(obj1, obj2) {
        const differences = {};
        const allKeys = new Set([...Object.keys(obj1), ...Object.keys(obj2)]);
        allKeys.forEach((key) => {
            if (obj1[key] != obj2[key]) {
                const itemIgnore = ignoreFields.findIndex(x => x === key);
                if (itemIgnore === -1) {
                    let obj1_key = obj1[key] ?? '';
                    let obj2_key = obj2[key] ?? '';
                    if (obj1[key] === 'null' || obj1[key] === '[]') obj1_key = '';
                    if (obj2[key] === 'null' || obj2[key] === '[]') obj2_key = '';
                    if (obj1_key !== obj2_key) {
                        differences[key] = { from: obj1[key], to: obj2[key] };
                    }
                }
            }
        });

        return differences;
    }

    function renderContentHistory(item, obj, idx) {
        let content = '';
        content += `<div class="w-100">
                        <p class="mb-1"><b>Lần ${idx}: <i>${item.ngay_tao} - ${item.nguoi_chinh_sua}</i></b></p>
                        <p class="mb-2">Lý do: ${item.ly_do_chinh_sua}</b></p>
                        <ul>`;
        Object.keys(obj).forEach(key => {
            const valFrom = obj[key].from ?? '';
            const valTo = obj[key].to ?? '';
            let dataFrom = valFrom;
            let dataTo = valTo;
            if (key === "ds_file_dinh_kem") {
                dataFrom = '';
                dataTo = '';
                let formatFrom = obj[key]?.from ? JSON.parse(obj[key]?.from) : [];
                let formatTo = obj[key]?.to ? JSON.parse(obj[key]?.to) : [];
                Array.from(formatFrom).forEach(file => {
                    dataFrom += `${file.file_name}; `;
                })
                Array.from(formatTo).forEach(file => {
                    dataTo += `${file.file_name}; `;
                })
            } else if (key === "hien_trang_sd_id") {
                dataFrom = dmHienTrangSD.filter(x => x.id === valFrom)[0]?.text ?? '';
                dataTo = dmHienTrangSD.filter(x => x.id === valTo)[0]?.text ?? '';
            }

            content += `<li>
                            <span>${labelFields[key]}</span>: <span class="required">${dataFrom}</span> => <b style="color:green;">${dataTo}</b>
                        </li>`;
        })
        content += `    </ul>
                    </div>`;
        return content;
    }

    function getCategories() {
        // Lấy danh sách danh mục hiện trạng sử dụng
        $.ajax({
            url: `api/categories/HTSD/all`, // Replace with your API endpoint
            type: 'GET',
            headers: {
                'X-CSRF-Token': $('input[name="csrf_token"]').val() // Include the CSRF token in the headers
            },
            success: function (res) {
                dmHienTrangSD = res.result;
            },
            error: function (err) {
                // Handle error
                toastr.error(err.responseJSON?.error);
            }
        });
    }
</script>
{% endblock %}